:host {
  display: block;
}

.fadq-client-tool-top-section {
  padding: 10px;
}

.fadq-client-tool-bottom-section a {
  color: #1565c0;
  padding: 10px;
}

fadq-client-addresses,
fadq-client-parcel-legend {
  display: block;
  margin-left: 15px;
}
