:host {
  display: block;
}

.fadq-error-text {
  margin: 10px;
}

.fadq-client-tool-top-section {
  padding: 10px 10px 0 10px;
}

.fadq-client-tool-bottom-section {
  padding: 10px;

  a {
    color: #1565c0;
  }
} 

fadq-client-addresses,
fadq-client-parcel-legend {
  display: block;
  margin-left: 15px;
}
