:host {
  display: block;
}

.fadq-info-client-tool-top-section {
  padding: 10px;
}

.fadq-info-client-tool-client-section a {
  color: #1565c0;
  padding: 10px;
}

fadq-client-info,
fadq-client-legend {
  display: block;
  margin-left: 15px;
}
