@require '../../shared/list/list.component.styl';

$igo-layer-legend-padding-left = 18px;

img {
  max-width: 100%;
}

h5 {
  margin: 0;
}

.igo-layer-legend.with-title {
  padding-left: $igo-layer-legend-padding-left;
}
