<div class="content-block top-block no-banner">
  <nav class="breadcrumb-section" aria-label="Breadcrumb">
    <div class="breadcrumb-section-left">
    <div class="content-container">
      <div class="breadcrumb">
        <div class="breadcrumb-item">
          <a
            class="breadcrumb-link"
            href="https://www.sqi.gouv.qc.ca/"
            title="Accueil"
          >
            <span class="breadcrumb-link-title">
              <span class="breadcrumb-text">Accueil</span>
            </span>
          </a>
        </div>
        <div class="breadcrumb-item active" aria-current="page">
          <span class="breadcrumb-link-title">
            <span class="breadcrumb-text">Outil de repérage d'immeubles</span>
          </span>
        </div>
      </div>
    </div>
    </div>
  </nav>
</div>
