/* Bread crumbs */

.breadcrumb .breadcrumb-link {
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
}

.breadcrumb .breadcrumb-text {
  font-size: 12px;
  line-height: 18px;
}

.breadcrumb-item.active {
  font-weight: 600;
}

.breadcrumb a::after {
  content: '';
  display: inline-block;
  width: 4px;
  height: 8px;
  background-size: cover;
  top: -1px;
  left: 7px;
  border: 0;
  transform: none;
}

.dark-banner .breadcrumb a::after {
  margin-left: 8px;
  margin-right: 8px;
  background-image: url(/assets/images/flash-bread-crumbs.svg);
}

.no-banner .breadcrumb a::after {
  margin-left: 8px;
  margin-right: 8px;
  background-image: url(/assets/images/flash-bread-crumbs-light.svg);
}

.dark-banner .breadcrumb-section {
  background-color: var(--qc-color-blue-medium);
  padding-top: 16px;
}

.no-banner .breadcrumb-section {
  background-color: var(--qc-color-blue-dark);
  padding-top: 16px;
}

.breadcrumb-section .breadcrumb {
  padding: 0 0 0 8%;
  display: flex;
  list-style: none;
}

.content-container .breadcrumb a.breadcrumb-link span:hover {
  text-decoration: underline;
}

.breadcrumb a,
.dark-banner .breadcrumb span {
  color: var(--qc-color-white);
}

.breadcrumb a,
.no-banner .breadcrumb span {
  color: var(--qc-color-white);
}

@media (max-width: 768px) {
  .breadcrumb {
    font-size: 12px;
    padding: 8px 0;
    justify-content: flex-start;
  }

  .breadcrumb-item {
    display: none; /* Cache les éléments normaux du fil d'Ariane */
  }

  .mobile-breadcrumb {
    display: flex;
    align-items: center;
  }

  .mobile-breadcrumb .breadcrumb-link {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .breadcrumb-chevron {
    font-size: 16px;
    margin-right: 5px;
  }

  .breadcrumb-link-title {
    padding: 0;
  }

  .dark-banner .breadcrumb a::after,
  .no-banner .breadcrumb a::after {
    display: none !important;
  }
}

/*
@media (min-width: 280px) {
  .navigation-page a:not([class]) {
    color: white;
  }

  .dark-banner,
  .no-banner {
    flex-direction: column;
  }

  .breadcrumb {
    padding: 0 0 8px 0;
  }

  .breadcrumb a,
  .no-banner .breadcrumb span {
    color: var(--qc-color-white);
  }

  .breadcrumb-item + .breadcrumb-item::before {
    content: none;
  }

  .breadcrumb .breadcrumb-item {
    padding-left: 0;
  }

  li.breadcrumb-item.active {
    padding-left: 0;
  }

  li.breadcrumb-item.active span span {
    font-weight: var(--qc-font-weight-semi-bold);
  }

  .breadcrumb-link-title {
    padding-left: 8px;
  }

  .breadcrumb-link-title {
    padding-right: 8px;
  }

  .breadcrumb-item:first-of-type .breadcrumb-link-title:first-of-type {
    padding-left: 0;
  }
}

@media (min-width: 340px) {
}

@media (min-width: 358px) {
}

@media (min-width: 368px) {
}

@media (min-width: 380px) {
}

@media (min-width: 390px) {
}

@media (min-width: 480px) {
}

@media (min-width: 550px) {
}

@media (min-width: 600px) {
}

@media (min-width: 698px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1330px) {
}
//*/
