@import './search-bar.variables';

:host ::ng-deep .mat-form-field {
  padding: 0 $igo-padding;
}

:host ::ng-deep .mat-form-field-wrapper {
    margin-bottom: -1.50em;
}

:host ::ng-deep span.mat-form-field-label-wrapper {
  top: -20px;
}

:host ::ng-deep div.mat-form-field-infix {
  left: $igo-padding;
  right: $igo-padding;
  padding: 0 0 12px 0;
}

:host ::ng-deep div.mat-form-field-underline {
  display: none;
}

.fadq-search-bar-container {
  position: relative;
  width: 100%;
}

igo-search-bar {
  width: calc(100% - #{$igo-icon-size});
}

fadq-search-selector {
  display: inline-block;
  background-color: $fadq-background-color;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0;
}