.wrapper {
  width: 100%;
  padding: 16px 8%;
  display: flex;
  gap: 20px;
  height: 70px;
  color: white;
  align-items: flex-end;
  background-color: var(--qc-color-blue-dark);
}
.item {
  font-size: 20px;
  cursor: pointer;
  position: relative;
}
.active::before {
  content: '';
  height: 4px;
  width: 110%;
  background-color: white;
  position: absolute;
  bottom: -15px;
  left: -5%;
}

.active{
  font-weight: 900;
}
