.wrapper {
  width: 100%;
  padding: 16px 0%;
  max-width: 1306px;
  margin: auto;
  display: flex;
  color: white;
  align-items: flex-end;
}

.toggle-switch {
  display: inline-flex;
  border: 1px solid #7a8aa0;
  border-radius: 2px;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.toggle-btn {
  padding: 6px 16px;
  background-color: white;
  color: #5a6b7a;
  font-weight: normal;
  cursor: pointer;
  user-select: none;
  border-right: 1px solid #b0c4de;
  transition: background-color 0.3s, color 0.3s;
}

.toggle-btn:last-child {
  border-right: none;
}

.toggle-btn.active {
  background-color: #e3edf7;
  color: #004a87;
  font-weight: bold;
  //border-right: 1px solid #0073e6;
}


@media (max-width: 1435px) {
  .wrapper {
    max-width: 92%;
  }
}

