<div class="wrapper">
  <div class="title-wrapper">
    <div class="title">Filtres</div>
    <div class="clear" (click)="onClear()">Effacer les filtres</div>
  </div>
  <form class="form">
    <div class="filed">
      <label for="numero">Numéro civique</label>
      <mat-form-field appearance="outline">
        <mat-select
          placeholder="Afficher les filtres"
          (selectionChange)="
            onChange('numero_civique', $event.value.toLowerCase())
          "
        >
          <mat-option>
            <div #searchDiv class="search">
              <div class="search-bar">
                <input
                  class="search-input"
                  type="text"
                  [formControl]="searchControl"
                  (click)="$event.stopPropagation()"
                  (focus)="onFocus()"
                  (blur)="onBlur()"
                />
                <img
                  src="assets/images/loop.svg"
                  alt="Rechercher"
                  class="search-icon"
                />
              </div>
            </div>
          </mat-option>
          <mat-option
            *ngFor="let number of filterOptions['numero_civique']"
            [value]="number"
          >
            <mat-checkbox>{{ number }}</mat-checkbox>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-divider></mat-divider>
    <div class="filed">
      <label for="numero">Rue</label>
      <mat-form-field appearance="outline">
        <mat-select
          placeholder="Afficher les filtres"
          (selectionChange)="onChange('rue', $event.value.toLowerCase())"
        >
          <mat-option>
            <div #searchDiv class="search">
              <div class="search-bar">
                <input
                  class="search-input"
                  type="text"
                  [formControl]="searchControl"
                  (click)="$event.stopPropagation()"
                  (focus)="onFocus()"
                  (blur)="onBlur()"
                />
                <img
                  src="assets/images/loop.svg"
                  alt="Rechercher"
                  class="search-icon"
                />
              </div>
            </div>
          </mat-option>
          <mat-option *ngFor="let rue of filterOptions['rue']" [value]="rue">
            <mat-checkbox>{{ rue }}</mat-checkbox>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-divider></mat-divider>
    <div class="filed">
      <label for="numero">Ville ou municipalité</label>
      <mat-form-field appearance="outline">
        <mat-select
          placeholder="Afficher les filtres"
          (selectionChange)="
            onChange('ville_municipalite', $event.value.toLowerCase())
          "
        >
          <mat-option>
            <div #searchDiv class="search">
              <div class="search-bar">
                <input
                  class="search-input"
                  type="text"
                  [formControl]="searchControl"
                  (click)="$event.stopPropagation()"
                  (focus)="onFocus()"
                  (blur)="onBlur()"
                />
                <img
                  src="assets/images/loop.svg"
                  alt="Rechercher"
                  class="search-icon"
                />
              </div>
            </div>
          </mat-option>
          <mat-option
            *ngFor="
              let ville_municipalite of filterOptions['ville_municipalite']
            "
            [value]="ville_municipalite"
          >
            <mat-checkbox>{{ ville_municipalite }}</mat-checkbox>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-divider></mat-divider>
    <div class="filed">
      <label for="numero_immeuble">Numéro d'immeuble</label>
      <mat-form-field appearance="outline">
        <mat-select
          placeholder="Afficher les filtres"
          (selectionChange)="
            onChange('numero_immeuble', $event.value.toLowerCase())
          "
        >
          <mat-option>
            <div #searchDiv class="search">
              <div class="search-bar">
                <input
                  class="search-input"
                  type="text"
                  [formControl]="searchControl"
                  (click)="$event.stopPropagation()"
                  (focus)="onFocus()"
                  (blur)="onBlur()"
                />
                <img
                  src="assets/images/loop.svg"
                  alt="Rechercher"
                  class="search-icon"
                />
              </div>
            </div>
          </mat-option>
          <mat-option
            *ngFor="let numero_immeuble of filterOptions['numero_immeuble']"
            [value]="numero_immeuble"
          >
            <mat-checkbox>{{ numero_immeuble }}</mat-checkbox>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-divider></mat-divider>
    <div class="filed">
      <label for="direction">Direction immobilière</label>
      <mat-form-field appearance="outline">
        <mat-select
          placeholder="Afficher les filtres"
          (selectionChange)="
            onChange('direction_immobiliere_nom', $event.value.toLowerCase())
          "
        >
          <mat-option>
            <div #searchDiv class="search">
              <div class="search-bar">
                <input
                  class="search-input"
                  type="text"
                  [formControl]="searchControl"
                  (click)="$event.stopPropagation()"
                  (focus)="onFocus()"
                  (blur)="onBlur()"
                />
                <img
                  src="assets/images/loop.svg"
                  alt="Rechercher"
                  class="search-icon"
                />
              </div>
            </div>
          </mat-option>
          <mat-option
            *ngFor="
              let direction_immobiliere_nom of filterOptions[
                'direction_immobiliere_nom'
              ]
            "
            [value]="direction_immobiliere_nom"
          >
            <mat-checkbox>{{ direction_immobiliere_nom }}</mat-checkbox>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-divider></mat-divider>
    <div
      class="ln"
      [ngClass]="{
        plus: !showingAdditionalFilters,
        minus: showingAdditionalFilters
      }"
      (click)="toggleShowAdditionalFilters()"
    >
      {{ showingAdditionalFilters ? 'Moins' : 'Plus' }} de filtres
    </div>
    <div *ngIf="showingAdditionalFilters">
      <div class="filed">
        <label for="nom_immeuble">Nom de l'immeuble</label>
        <mat-form-field appearance="outline">
          <mat-select
            placeholder="Afficher les filtres"
            (selectionChange)="
              onChange('nom_immeuble', $event.value.toLowerCase())
            "
          >
            <mat-option>
              <div #searchDiv class="search">
                <div class="search-bar">
                  <input
                    class="search-input"
                    type="text"
                    [formControl]="searchControl"
                    (click)="$event.stopPropagation()"
                    (focus)="onFocus()"
                    (blur)="onBlur()"
                  />
                  <img
                    src="assets/images/loop.svg"
                    alt="Rechercher"
                    class="search-icon"
                  />
                </div>
              </div>
            </mat-option>
            <mat-option
              *ngFor="let nom_immeuble of filterOptions['nom_immeuble']"
              [value]="nom_immeuble"
            >
              <mat-checkbox>{{ nom_immeuble }}</mat-checkbox>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-divider></mat-divider>
      <div class="filed">
        <label for="vocation">Vocation</label>
        <mat-form-field appearance="outline">
          <mat-select
            placeholder="Afficher les filtres"
            (selectionChange)="
              onChange('vocation_principale', $event.value.toLowerCase())
            "
          >
            <mat-option>
              <div #searchDiv class="search">
                <div class="search-bar">
                  <input
                    class="search-input"
                    type="text"
                    [formControl]="searchControl"
                    (click)="$event.stopPropagation()"
                    (focus)="onFocus()"
                    (blur)="onBlur()"
                  />
                  <img
                    src="assets/images/loop.svg"
                    alt="Rechercher"
                    class="search-icon"
                  />
                </div>
              </div>
            </mat-option>
            <mat-option
              *ngFor="
                let vocation_principale of filterOptions['vocation_principale']
              "
              [value]="vocation_principale"
            >
              <mat-checkbox>{{ vocation_principale }}</mat-checkbox>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-divider></mat-divider>
      <div class="filed">
        <label for="region">Région administrative</label>
        <mat-form-field appearance="outline">
          <mat-select
            placeholder="Afficher les filtres"
            (selectionChange)="
              onChange('region_adminsitrative', $event.value.toLowerCase())
            "
          >
            <mat-option>
              <div #searchDiv class="search">
                <div class="search-bar">
                  <input
                    class="search-input"
                    type="text"
                    [formControl]="searchControl"
                    (click)="$event.stopPropagation()"
                    (focus)="onFocus()"
                    (blur)="onBlur()"
                  />
                  <img
                    src="assets/images/loop.svg"
                    alt="Rechercher"
                    class="search-icon"
                  />
                </div>
              </div>
            </mat-option>
            <mat-option
              *ngFor="
                let region_adminsitrative of filterOptions[
                  'region_adminsitrative'
                ]
              "
              [value]="region_adminsitrative"
            >
              <mat-checkbox>{{ region_adminsitrative }}</mat-checkbox>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-divider></mat-divider>
      <div class="filed">
        <label for="type_propriete_ou_location">Type</label>
        <mat-form-field appearance="outline">
          <mat-select
            placeholder="Afficher les filtres"
            (selectionChange)="
              onChange('type_propriete_ou_location', $event.value.toLowerCase())
            "
          >
            <mat-option>
              <div #searchDiv class="search">
                <div class="search-bar">
                  <input
                    class="search-input"
                    type="text"
                    [formControl]="searchControl"
                    (click)="$event.stopPropagation()"
                    (focus)="onFocus()"
                    (blur)="onBlur()"
                  />
                  <img
                    src="assets/images/loop.svg"
                    alt="Rechercher"
                    class="search-icon"
                  />
                </div>
              </div>
            </mat-option>
            <mat-option
              *ngFor="
                let type_propriete_ou_location of filterOptions[
                  'type_propriete_ou_location'
                ]
              "
              [value]="type_propriete_ou_location"
            >
              <mat-checkbox>{{ type_propriete_ou_location }}</mat-checkbox>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-divider></mat-divider>
      <div class="filed line">
        <input id="patrimonial" name="patrimonial" type="checkbox" />
        <label for="patrimonial">Immeuble patrimonial</label>
      </div>
      <div class="filed line">
        <input id="avec" name="avec" type="checkbox" />
        <label for="avec">Immeuble avec dénomination</label>
      </div>
    </div>
  </form>
</div>
