<div class="wrapper">
  <div class="title-wrapper">
    <div class="title">Filters</div>
    <div class="clear" (click)="onClear()">Clear</div>
  </div>
  <form class="form">
    <div class="filed">
      <label for="numero">Numero civique</label>
      <input
        id="numero"
        name="numero"
        #numeroInput
        placeholder="Example de numero civique"
        type="text"
        (change)="onChange('numero', numeroInput?.value)"
      />
    </div>
    <mat-divider></mat-divider>
    <div class="filed">
      <label for="rue">Rue</label>
      <input id="rue" name="rue" placeholder="Example de rue" type="text" />
    </div>
    <mat-divider></mat-divider>
    <div class="filed">
      <label for="ville">Ville ou municipilate</label>
      <input
        id="ville"
        name="ville"
        placeholder="Example de ville ou municipilate"
        type="text"
      />
    </div>
    <mat-divider></mat-divider>
    <div class="filed">
      <label for="numero_immeuble">Numero d'immeuble</label>
      <input
        id="numero_immeuble"
        name="numero_immeuble"
        placeholder="Example de numero d'immeuble"
        type="text"
      />
    </div>
    <mat-divider></mat-divider>
    <div class="filed">
      <label for="direction">Direction immobliere</label>
      <input
        id="direction"
        name="direction"
        placeholder="Choisir une direction immobliere"
        type="text"
      />
    </div>
    <mat-divider></mat-divider>
    <div class="ln">Moins de filtres</div>
    <div class="filed">
      <label for="nom_immeuble">Nom de I'immeuble</label>
      <input
        id="nom_immeuble"
        name="nom_immeuble"
        placeholder="Example de numero d'immeuble"
        type="text"
      />
    </div>
    <mat-divider></mat-divider>
    <div class="filed">
      <label for="vocation">Vocation</label>
      <input
        id="vocation"
        name="vocation"
        placeholder="Choisir une vocation"
        type="text"
      />
    </div>
    <mat-divider></mat-divider>
    <div class="filed">
      <label for="region">Region administrative</label>
      <input
        id="region"
        name="region"
        placeholder="Choisir une region administrative"
        type="text"
      />
    </div>
    <mat-divider></mat-divider>
    <div class="filed line">
      <input id="patrimonial" name="patrimonial" type="checkbox" />
      <label for="patrimonial"> Immeuble patrimonial</label>
    </div>
    <div class="filed line">
      <input id="avec" name="avec" type="checkbox" />
      <label for="avec">Immeuble avec denomination</label>
    </div>
  </form>
</div>
