<div class="wrapper">
  <div class="title-wrapper">
    <div class="title">Filtres</div>
    <div class="clear" (click)="onClear()">Effacer les filtres</div>
  </div>
  <form class="form">
    <div class="filed">
      <label for="numero">Numéro civique</label>
      <div
        class="container"
        *ngIf="!showFiltersMap['numero_civique']"
        (click)="toggleFilters('numero_civique')"
      >
        <span>Afficher les filtres</span>
        <svg
          width="30"
          height="30"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#095797"
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M6 9l6 6 6-6"></path>
        </svg>
      </div>
      <!-- Affichage du filtre uniquement si showFilters est vrai -->
      <div *ngIf="showFiltersMap['numero_civique']" class="container-true">
        <div (click)="toggleFilters('numero_civique')" class="filter-close">
          <span>Masquer les filtres</span>
          <svg
            width="30"
            height="30"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#095797"
            stroke-width="1"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M6 9l6 -6 6 6"></path>
          </svg>
        </div>
        <div class="search-bar">
          <input
            class="search-input"
            type="text"
            [formControl]="searchControl"
          />
          <img
            src="assets/images/loop.svg"
            alt="Rechercher"
            class="search-icon"
          />
        </div>
        <div class="checkbox-list">
          <div *ngFor="let number of filterOptions['numero_civique']">
            <mat-checkbox
              (change)="onChange('numero_civique', number.toLowerCase())"
              >{{ number }}</mat-checkbox
            >
          </div>
        </div>
      </div>
    </div>

    <mat-divider></mat-divider>
    <div class="filed">
      <label for="rue">Rue</label>
      <div
        class="container"
        *ngIf="!showFiltersMap['rue']"
        (click)="toggleFilters('rue')"
      >
        <span>Afficher les filtres</span>
        <svg
          width="30"
          height="30"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#095797"
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M6 9l6 6 6-6"></path>
        </svg>
      </div>
      <!-- Affichage du filtre uniquement si showFilters est vrai -->
      <div *ngIf="showFiltersMap['rue']" class="container-true">
        <div (click)="toggleFilters('rue')" class="filter-close">
          <span>Masquer les filtres</span>
          <svg
            width="30"
            height="30"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#095797"
            stroke-width="1"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M6 9l6 -6 6 6"></path>
          </svg>
        </div>
        <div class="search-bar">
          <input
            class="search-input"
            type="text"
            [formControl]="searchControl"
          />
          <img
            src="assets/images/loop.svg"
            alt="Rechercher"
            class="search-icon"
          />
        </div>
        <div class="checkbox-list">
          <div *ngFor="let rue of filterOptions['rue']">
            <mat-checkbox (change)="onChange('rue', rue.toLowerCase())">{{
              rue
            }}</mat-checkbox>
          </div>
        </div>
      </div>
    </div>

    <mat-divider></mat-divider>
    <div class="filed">
      <label for="ville">Ville ou municipalité</label>
      <div
        class="container"
        *ngIf="!showFiltersMap['ville_municipalite']"
        (click)="toggleFilters('ville_municipalite')"
      >
        <span>Afficher les filtres</span>
        <svg
          width="30"
          height="30"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#095797"
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M6 9l6 6 6-6"></path>
        </svg>
      </div>
      <!-- Affichage du filtre uniquement si showFilters est vrai -->
      <div *ngIf="showFiltersMap['ville_municipalite']" class="container-true">
        <div (click)="toggleFilters('ville_municipalite')" class="filter-close">
          <span>Masquer les filtres</span>
          <svg
            width="30"
            height="30"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#095797"
            stroke-width="1"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M6 9l6 -6 6 6"></path>
          </svg>
        </div>
        <div class="search-bar">
          <input
            class="search-input"
            type="text"
            [formControl]="searchControl"
          />
          <img
            src="assets/images/loop.svg"
            alt="Rechercher"
            class="search-icon"
          />
        </div>
        <div class="checkbox-list">
          <div
            *ngFor="
              let ville_municipalite of filterOptions['ville_municipalite']
            "
            [value]="ville_municipalite"
          >
            <mat-checkbox
              (change)="
                onChange('ville_municipalite', ville_municipalite.toLowerCase())
              "
              >{{ ville_municipalite }}</mat-checkbox
            >
          </div>
        </div>
      </div>
    </div>

    <mat-divider></mat-divider>
    <div class="filed">
      <label for="numero_immeuble">Numéro d'immeuble</label>
      <div
        class="container"
        *ngIf="!showFiltersMap['numero_immeuble']"
        (click)="toggleFilters('numero_immeuble')"
      >
        <span>Afficher les filtres</span>
        <svg
          width="30"
          height="30"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#095797"
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M6 9l6 6 6-6"></path>
        </svg>
      </div>
      <!-- Affichage du filtre uniquement si showFilters est vrai -->
      <div *ngIf="showFiltersMap['numero_immeuble']" class="container-true">
        <div (click)="toggleFilters('numero_immeuble')" class="filter-close">
          <span>Masquer les filtres</span>
          <svg
            width="30"
            height="30"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#095797"
            stroke-width="1"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M6 9l6 -6 6 6"></path>
          </svg>
        </div>
        <div class="search-bar">
          <input
            class="search-input"
            type="text"
            [formControl]="searchControl"
          />
          <img
            src="assets/images/loop.svg"
            alt="Rechercher"
            class="search-icon"
          />
        </div>
        <div class="checkbox-list">
          <div
            *ngFor="let numero_immeuble of filterOptions['numero_immeuble']"
            [value]="numero_immeuble"
          >
            <mat-checkbox
              (change)="
                onChange('numero_immeuble', numero_immeuble.toLowerCase())
              "
              >{{ numero_immeuble }}</mat-checkbox
            >
          </div>
        </div>
      </div>
    </div>

    <mat-divider></mat-divider>
    <div class="filed">
      <label for="direction">Direction immobilière</label>
      <div
        class="container"
        *ngIf="!showFiltersMap['direction_immobiliere_nom']"
        (click)="toggleFilters('direction_immobiliere_nom')"
      >
        <span>Afficher les filtres</span>
        <svg
          width="30"
          height="30"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#095797"
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M6 9l6 6 6-6"></path>
        </svg>
      </div>
      <!-- Affichage du filtre uniquement si showFilters est vrai -->
      <div
        *ngIf="showFiltersMap['direction_immobiliere_nom']"
        class="container-true"
      >
        <div
          (click)="toggleFilters('direction_immobiliere_nom')"
          class="filter-close"
        >
          <span>Masquer les filtres</span>
          <svg
            width="30"
            height="30"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#095797"
            stroke-width="1"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M6 9l6 -6 6 6"></path>
          </svg>
        </div>
        <div class="search-bar">
          <input
            class="search-input"
            type="text"
            [formControl]="searchControl"
          />
          <img
            src="assets/images/loop.svg"
            alt="Rechercher"
            class="search-icon"
          />
        </div>
        <div class="checkbox-list">
          <div
            *ngFor="
              let direction_immobiliere_nom of filterOptions[
                'direction_immobiliere_nom'
              ]
            "
            [value]="direction_immobiliere_nom"
          >
            <mat-checkbox
              (change)="
                onChange('direction_immobiliere_nom', number.toLowerCase())
              "
              >{{ direction_immobiliere_nom }}</mat-checkbox
            >
          </div>
        </div>
      </div>
    </div>

    <mat-divider></mat-divider>
    <div
      class="ln"
      [ngClass]="{
        plus: !showingAdditionalFilters,
        minus: showingAdditionalFilters
      }"
      (click)="toggleShowAdditionalFilters()"
    >
      {{ showingAdditionalFilters ? 'Moins' : 'Plus' }} de filtres
    </div>
    <div *ngIf="showingAdditionalFilters">
      <div class="filed">
        <label for="nom_immeuble">Nom de l'immeuble</label>
        <div
          class="container"
          *ngIf="!showFiltersMap['nom_immeuble']"
          (click)="toggleFilters('nom_immeuble')"
        >
          <span>Afficher les filtres</span>
          <svg
            width="30"
            height="30"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#095797"
            stroke-width="1"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M6 9l6 6 6-6"></path>
          </svg>
        </div>
        <!-- Affichage du filtre uniquement si showFilters est vrai -->
        <div *ngIf="showFiltersMap['nom_immeuble']" class="container-true">
          <div (click)="toggleFilters('nom_immeuble')" class="filter-close">
            <span>Masquer les filtres</span>
            <svg
              width="30"
              height="30"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#095797"
              stroke-width="1"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M6 9l6 -6 6 6"></path>
            </svg>
          </div>
          <div class="search-bar">
            <input
              class="search-input"
              type="text"
              [formControl]="searchControl"
            />
            <img
              src="assets/images/loop.svg"
              alt="Rechercher"
              class="search-icon"
            />
          </div>
          <div class="checkbox-list">
            <div
              *ngFor="let nom_immeuble of filterOptions['nom_immeuble']"
              [value]="nom_immeuble"
            >
              <mat-checkbox
                (change)="onChange('nom_immeuble', nom_immeuble.toLowerCase())"
                >{{ nom_immeuble }}</mat-checkbox
              >
            </div>
          </div>
        </div>
      </div>

      <mat-divider></mat-divider>
      <div class="filed">
        <label for="vocation">Vocation</label>
        <div
          class="container"
          *ngIf="!showFiltersMap['vocation_principale']"
          (click)="toggleFilters('vocation_principale')"
        >
          <span>Afficher les filtres</span>
          <svg
            width="30"
            height="30"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#095797"
            stroke-width="1"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M6 9l6 6 6-6"></path>
          </svg>
        </div>
        <!-- Affichage du filtre uniquement si showFilters est vrai -->
        <div
          *ngIf="showFiltersMap['vocation_principale']"
          class="container-true"
        >
          <div
            (click)="toggleFilters('vocation_principale')"
            class="filter-close"
          >
            <span>Masquer les filtres</span>
            <svg
              width="30"
              height="30"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#095797"
              stroke-width="1"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M6 9l6 -6 6 6"></path>
            </svg>
          </div>
          <div class="search-bar">
            <input
              class="search-input"
              type="text"
              [formControl]="searchControl"
            />
            <img
              src="assets/images/loop.svg"
              alt="Rechercher"
              class="search-icon"
            />
          </div>
          <div class="checkbox-list">
            <div
              *ngFor="
                let vocation_principale of filterOptions['vocation_principale']
              "
              [value]="vocation_principale"
            >
              <mat-checkbox
                (change)="
                  onChange(
                    'vocation_principale',
                    vocation_principale.toLowerCase()
                  )
                "
                >{{ vocation_principale }}</mat-checkbox
              >
            </div>
          </div>
        </div>
      </div>

      <mat-divider></mat-divider>
      <div class="filed">
        <label for="region">Région administrative</label>
        <div
          class="container"
          *ngIf="!showFiltersMap['region_adminsitrative']"
          (click)="toggleFilters('region_adminsitrative')"
        >
          <span>Afficher les filtres</span>
          <svg
            width="30"
            height="30"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#095797"
            stroke-width="1"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M6 9l6 6 6-6"></path>
          </svg>
        </div>
        <!-- Affichage du filtre uniquement si showFilters est vrai -->
        <div
          *ngIf="showFiltersMap['region_adminsitrative']"
          class="container-true"
        >
          <div
            (click)="toggleFilters('region_adminsitrative')"
            class="filter-close"
          >
            <span>Masquer les filtres</span>
            <svg
              width="30"
              height="30"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#095797"
              stroke-width="1"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M6 9l6 -6 6 6"></path>
            </svg>
          </div>
          <div class="search-bar">
            <input
              class="search-input"
              type="text"
              [formControl]="searchControl"
            />
            <img
              src="assets/images/loop.svg"
              alt="Rechercher"
              class="search-icon"
            />
          </div>
          <div class="checkbox-list">
            <div
              *ngFor="
                let region_adminsitrative of filterOptions[
                  'region_adminsitrative'
                ]
              "
              [value]="region_adminsitrative"
            >
              <mat-checkbox
                (change)="
                  onChange(
                    'region_adminsitrative',
                    region_adminsitrative.toLowerCase()
                  )
                "
                >{{ region_adminsitrative }}</mat-checkbox
              >
            </div>
          </div>
        </div>
      </div>

      <mat-divider></mat-divider>
      <div class="filed">
        <label for="type_propriete_ou_location">Type</label>
        <div
          class="container"
          *ngIf="!showFiltersMap['type_propriete_ou_location']"
          (click)="toggleFilters('type_propriete_ou_location')"
        >
          <span>Afficher les filtres</span>
          <svg
            width="30"
            height="30"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#095797"
            stroke-width="1"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M6 9l6 6 6-6"></path>
          </svg>
        </div>
        <!-- Affichage du filtre uniquement si showFilters est vrai -->
        <div
          *ngIf="showFiltersMap['type_propriete_ou_location']"
          class="container-true"
        >
          <div
            (click)="toggleFilters('type_propriete_ou_location')"
            class="filter-close"
          >
            <span>Masquer les filtres</span>
            <svg
              width="30"
              height="30"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#095797"
              stroke-width="1"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M6 9l6 -6 6 6"></path>
            </svg>
          </div>
          <div class="search-bar">
            <input
              class="search-input"
              type="text"
              [formControl]="searchControl"
            />
            <img
              src="assets/images/loop.svg"
              alt="Rechercher"
              class="search-icon"
            />
          </div>
          <div class="checkbox-list">
            <div
              *ngFor="
                let type_propriete_ou_location of filterOptions[
                  'type_propriete_ou_location'
                ]
              "
              [value]="type_propriete_ou_location"
            >
              <mat-checkbox
                (change)="
                  onChange(
                    'type_propriete_ou_location',
                    type_propriete_ou_location.toLowerCase()
                  )
                "
                >{{ type_propriete_ou_location }}</mat-checkbox
              >
            </div>
          </div>
        </div>
      </div>

      <mat-divider></mat-divider>
      <div class="filed line">
        <input id="patrimonial" name="patrimonial" type="checkbox" />
        <label for="patrimonial">Immeuble patrimonial</label>
      </div>
      <div class="filed line">
        <input id="avec" name="avec" type="checkbox" />
        <label for="avec">Immeuble avec dénomination</label>
      </div>
    </div>
  </form>
</div>
