{
  "singleQuote": true,
  "trailingComma": "none",
  "endOfLine": "lf",
  "importOrder": ["^@angular/(.*)$", "^@igo2/(.*)$", "^ol/(.*)$", "<THIRD_PARTY_MODULES>", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
