@use '@igo2/core/partial/core.variables' as core;
@use '@igo2/core/partial/media';
@use '../portal.variables' as portal;

:host {
  @extend %box-shadowed;

  background-color: white;

  height: portal.$toast-panel-for-expansion-collapsed-height;
  max-height: portal.$toast-panel-for-expansion-max-height;

  transition: height 280ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: core.$igo-padding;

  @include media.mobile {
    max-height: 40%;
  }
}

:host.toast-panel-for-expansion-opened {
  height: portal.$toast-panel-for-expansion-max-height;

  @include media.mobile {
    height: 40%;
  }
}

igo-panel {
  position: relative;
  height: 100%;

  ::ng-deep .igo-panel-header:hover {
    cursor: pointer;
  }
}

div[igostoppropagation] {
  height: 100%;
  width: 100%;
}
