@import '../portal.variables';

:host {
  background-color: rgb(255, 255, 255);
}

// This is needed because whe using the
// sidenav "side" mode, the z-index is 1
// and the sidenav appears below our backdrop.
// The "side" mode is required to prevent
// the sidenav from focusing a random button on open.
:host ::ng-deep mat-sidenav {
  z-index: 3 !important;
}

mat-sidenav {
  @extend %box-shadowed-bottom-right;

  height: $fadq-sidenav-height;
  width: $fadq-sidenav-width;

  @include mobile {
    width: $fadq-sidenav-width-mobile;
    height: 100%;
  }
}

:host.fadq-sidenav-with-expansion-panel mat-sidenav {
  height: $fadq-sidenav-height-with-expansion-panel;
  transition: height 280ms cubic-bezier(.4,0,.2,1);
}

.fadq-sidenav-container {
  margin-top: $fadq-sidenav-margin-top;
  height: calc(100% - #{$fadq-sidenav-margin-top});
}

.fadq-sidenav-content {
  padding: 0 5px;
  height: 100%;
}

igo-panel {
  height: 100%;

  ::ng-deep .igo-panel-content {
    position: relative;
  }
}
