@import '../../../../style/partial/variables';

$fadq-sidenav-height: 65%;
$fadq-sidenav-width: 370px;
$fadq-sidenav-margin-top: 50px;
$fadq-sidenav-width-mobile: calc(100% - #{$fadq-mobile-min-space-right} - #{$igo-margin});
