<mat-sidenav
  mode="side"
  [autoFocus]="false"
  [(opened)]="opened">

  <div class="app-sidenav-content">

      <div #content class="app-content" [ngClass]="{toolActivated: toolbox.activeTool$ | async}">

        <button *ngIf="toolbox.activeTool$ | async"
          id="homeButton"
          mat-icon-button
          tooltip-position="below"
          matTooltipShowDelay="500"
          [matTooltip]="'igo.context.sidenav.mainMenu' | translate"
          (click)="onUnselectButtonClick()">
          <mat-icon svgIcon="home"></mat-icon>
        </button>

        <igo-panel [title]="title$ | async | translate">
          <button *ngIf="toolbox.activeTool$ | async"
            mat-icon-button
            panelLeftButton
            tooltip-position="below"
            matTooltipShowDelay="500"
            [matTooltip]="'igo.context.sidenav.goBack' | translate"
            (click)="onPreviousButtonClick()">
            <mat-icon svgIcon="arrow-left"></mat-icon>
          </button>

          <!-- <button *ngIf="toolbox.activeTool$ | async"
            mat-icon-button
            panelRightButton
            tooltip-position="below"
            matTooltipShowDelay="500"
            [matTooltip]="'igo.context.sidenav.mainMenu' | translate"
            (click)="onUnselectButtonClick()">
            <mat-icon svgIcon="close"></mat-icon>
          </button> -->

          <igo-toolbox
            class="igo-toolbox"
            color="primary"
            [animate]="true"
            [toolbox]="toolbox">
          </igo-toolbox>

        </igo-panel>
    </div>
  </div>
</mat-sidenav>
