@use '@igo2/core/partial/media';

@use '../portal.variables' as portal;

:host {
  background-color: rgb(255, 255, 255);

  ::ng-deep {
    .igo-panel-header {
      position: relative;
    }
  }

  mat-sidenav {
    // This is needed because whe using the
    // sidenav "side" mode, the z-index is 1
    // and the sidenav appears below our backdrop.
    // The "side" mode is required to prevent
    // the sidenav from focusing a random button on open.
    z-index: 3 !important;
    height: 100%;
    width: var(--sidenav-width);
    box-sizing: content-box;
    overflow-y: unset;

    @include media.mobile {
      width: portal.$app-sidenav-width-mobile;
      max-width: var(--sidenav-width);
    }
  }

  igo-home-button {
    position: absolute;
    top: 53px;
  }

  .app-content,
  igo-panel {
    height: 100%;
  }

  .app-sidenav-content {
    margin-top: portal.$app-sidenav-margin-top;
    height: portal.$app-sidenav-height;
    @include media.mobile {
      height: calc(100% - #{portal.$app-sidenav-margin-top});
    }
  }

  igo-panel ::ng-deep .igo-panel-content {
    position: relative;
  }

  div.toolActivated > igo-panel ::ng-deep > div.igo-panel-header {
    margin-left: 50px;
    position: relative;
  }

  igo-toolbox {
    @include media.mobile {
      overflow: auto;
    }
  }
}
