@import '~@igo2/core/style/partial/media';
@import '../../../../style/partial/variables';
@import './sidenav.variables';


:host {
  background-color: rgb(255, 255, 255);
}

// This is needed because whe using the
// sidenav "side" mode, the z-index is 1
// and the sidenav appears below our backdrop.
// The "side" mode is required to prevent
// the sidenav from focusing a random button on open.
:host ::ng-deep mat-sidenav {
  z-index: 3 !important;
}

mat-sidenav {
  height: $fadq-sidenav-height;
  width: $fadq-sidenav-width;

  @include mobile {
    width: $fadq-sidenav-width-mobile;
    height: 100%;
  }

  @extend %box-shadowed;
}

.igo-sidenav-content {
  margin-top: $fadq-sidenav-margin-top;
  height: calc(100% - #{$fadq-sidenav-margin-top});
}

.igo-sidenav-content .igo-flexible-fill .igo-container {
  @extend %bordered-top;
  @extend %border-box;
}

/*** Toolbar and toolbox ***/
igo-toolbar {
  position: absolute;
  top: 51px;
  left: 0;
  bottom: 0;
}

igo-toolbar.with-title {
  right: 0;
  overflow: auto;
}

igo-toolbar:not(.with-title) {
  @extend %box-shadowed;
  overflow: hidden;
}

igo-toolbar ::ng-deep igo-list {
  overflow: inherit;
}

.igo-toolbox-container {
  position: absolute;
  top: 51px;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.igo-toolbox-container.shown {
  left: 48px;
}
