.wrapper {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.next {
  cursor: pointer;
}

.previous {
  transform: scaleX(-1);
  cursor: pointer;
}

.disabled {
  opacity: 0.3;
  cursor: default;
}

.pages {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.page {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  background-color: #41cccc;
  border-radius: 8px;
}
