.wrapper {
  width: 70%;
  margin: auto;
  display: flex;
  margin-left: 0;
  margin-top: 15px;
  align-items: center;
  gap: 10px;
}

.next, .previous {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 18px;
  color: #19406C;
}

.disabled {
  opacity: 0.3;
  cursor: default;
}

.pages {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: #095797;
}

.page {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #095797;
  font-size: 16px;
}

.page:hover {
  color: #223654;
  background-color: #f0f0f0;
  border-radius: 100%;
}

.active {
  color: #223654;
  font-weight: 900;
}
