<div class="wrapper" *ngIf="_pages > 0">
  <img
    *ngIf="_skip <= _limit"
    class="previous disabled"
    src="assets/images/Left.png"
  />
  <img
    *ngIf="_skip > _limit"
    class="previous"
    (click)="onPrevious()"
    src="assets/images/Left.png"
  />

  <div class="pages">
    <div
      class="page"
      [ngClass]="{ active: currentPage === i + 1 }"
      (click)="onPage(i)"
      *ngFor="page of pagesArr; let i = index"
    >
      <span *ngIf="pagesFlag && i < 2">{{ i + 1 }}</span>
      <span *ngIf="pagesFlag && i === 2">{{ '...' }}</span>
      <span *ngIf="pagesFlag && i > 2">{{ _pages - (5 - i) }}</span>
      <span *ngIf="!pagesFlag">{{ i + 1 }}</span>
    </div>
  </div>
  <img
    *ngIf="_skip + _limit >= _total"
    class="next disabled"
    src="assets/images/Left.png"
  />

  <img
    *ngIf="_skip + _limit < _total"
    src="assets/images/Left.png"
    class="next"
    (click)="onNext()"
  />
</div>
