<md-sidenav-container>

  <igo-backdrop [shown]="sidenav.opened" (click)="sidenav.close()"></igo-backdrop>

  <button
    md-icon-button
    id="igo-menu-button"
    color="primary"
    (click)="sidenav.toggle()">
    <md-icon *ngIf="!sidenav.opened">menu</md-icon>
    <md-icon *ngIf="sidenav.opened">keyboard_arrow_left</md-icon>  
  </button>

  <igo-search-bar (key)="sidenav.open()"></igo-search-bar>

  <igo-sidenav #sidenav [opened]="false"></igo-sidenav>

  <igo-map
    [options]="context.map"
    [layers]="context.layers">
  </igo-map>

</md-sidenav-container>
