:host {
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  pointer-events: none;
}

.bottom-right {
  position: absolute;
  white-space: nowrap;
  bottom: 0;
  right: 0;
  padding-right: 55px;
  pointer-events:auto;
}

.top-right {
  position: absolute;
  white-space: nowrap;
  top: 0;
  right: 0;
  pointer-events:auto;
}


.bottom-left {
  position: absolute;
  white-space: nowrap;
  bottom: 0;
  left: 0;
  padding-left: 90px;
  pointer-events:auto;
}

.top-left {
  position: absolute;
  white-space: nowrap;
  top: 40px;
  left: 0;
  pointer-events:auto;
}


.bottom-center {
  position: absolute;
  white-space: nowrap;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  pointer-events:auto;
}

.top-center {
  position: absolute;
  white-space: nowrap;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  pointer-events:auto;
}


.center-center {
  position: absolute;
  white-space: nowrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  pointer-events:auto;
}

.center-right {
  position: absolute;
  white-space: nowrap;
  top: 50%;
  right: 0;
  pointer-events:auto;
}

.center-left {
  position: absolute;
  white-space: nowrap;
  top: 50%;
  left: 0;
  pointer-events:auto;
}
