@import '../../../../style/partial/media';
@import '../../../../style/partial/variables';

$fadq-info-panel-collapsed-height: 48px;
$fadq-info-panel-max-height: calc(35% - #{$fadq-info-panel-collapsed-height});
$fadq-info-panel-width: 30%;
