<div>
  <h3>{{'client.info.title' | translate}}</h3>

  <div class="fadq-client-info-section fadq-client-info-title">
    <a href="#">{{client.nom}}</a>
  </div>

  <div class="fadq-client-info-section fadq-client-info-help">
    {{'client.info.help' | translate}}
  </div>

  <div class="fadq-client-info-section fadq-client-info-addresses">
    <table class="igo-striped">
      <tbody>
        <tr>
          <td>{{'client.info.adresseCor' | translate}}</td>
          <td><a href="#">{{client.adresseCor}}</a></td>
        </tr>
        <tr>
          <td>{{'client.info.adresseExp' | translate}}</td>
          <td><a href="#">{{client.adresseExp}}</a></td>
        </tr>
        <tr>
          <td>{{'client.info.adressePro' | translate}}</td>
          <td><a href="#">{{client.adressePro}}</a></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
