@import './client-info.variables';

:host {
  display: block;
  padding: $igo-padding;
}

.fadq-client-info-section {
  margin-bottom: 10px;
}

.fadq-client-info-section a {
  color: #1565c0;
}

.fadq-client-info-help {
  @extend %border-box;
  @extend %box-shadowed;
  padding: $igo-padding;
}