//@import '../src/style/qcca-theme/qcca-theme.scss';

// Adjust portal height

$header-height: 72px;
$header-height-mobile: 103px;

::ng-deep .portal-with-header {
height: calc(100% - #{$header-height})!important;
}

// Grids
:root {
--breakpoint-pgu-sm: 403px;
--breakpoint-sm: 576px;
--breakpoint-md: 768px;
--breakpoint-lg: 992px;
--breakpoint-xl: 1200px;
}

html,body {
padding: 0;
margin: 0!important;
width: 100%;
font-size: 16px;
font-family: 'Open sans', sans-serif;
}

@media (min-width: 1280px) and (orientation: landscape){
  body {
    margin: 0!important;
  }
}

html, body, div, span, applet, object, iframe, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
vertical-align: baseline;
}

html, body {
  font-family: 'Open sans', sans-serif;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-pgu-sm-1, .col-pgu-sm-2, .col-pgu-sm-3, .col-pgu-sm-4, .col-pgu-sm-5, .col-pgu-sm-6, .col-pgu-sm-7, .col-pgu-sm-8, .col-pgu-sm-9, .col-pgu-sm-10, .col-pgu-sm-11, .col-pgu-sm-12, .col-pgu-sm, .col-pgu-sm-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
position: relative;
width: 100%;
}

.col-12 {
flex: 0 0 100%;
max-width: 100%;
}


.container {
width: 100%;
margin-right: auto;
margin-left: auto;
}

.row {
-ms-display: flex;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
height: 100%;
width: 98%;
align-content: center;
margin: auto;
}

.col-6 {
flex: 0 0 50%;
max-width: 50%;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #095797 !important;
}

// header

a {
word-break: break-word;
overflow-wrap: break-word;
}

img {
vertical-align: middle;
border-style: none;
}

*, *::before, *::after {
box-sizing: border-box;
}

.d-none {
display: none;
}

.flex-column {
display: flex;
flex-direction: column !important;
}

.flex-wrap {
flex-wrap: wrap !important;
}

.d-flex {
display: -ms-flexbox !important;
display: flex !important;
}

.align-items-center {
-ms-flex-align: center !important;
align-items: center !important;
}

.justify-content-end {
-ms-flex-pack: end !important;
justify-content: flex-end !important
}

d-md-none {
display: none;
}

.align-self-end {
align-self: flex-end !important;
}

.banner {
    display: flex;
    width: 100%;
    height: 72px;
    box-sizing: border-box;
    background-color: #095797;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.zone-logo-title {
    padding: 0.5rem 1.1rem 0.5rem 0;
}

.zone-title {
    font-size: 1rem;
}

.zone-links {
    padding-left: 1.1rem;
    max-width: 100%;
    margin: auto;
    list-style: none;
    display: block;
    color: white;
}

.piv .titreM {
    padding-bottom: 2%
  }

  #pivImage {
    width:100%;
    min-width: 8rem;
    max-height: 28px;
  }

  ul li:last-child {
    padding: 0;
  }

  .listePiv {
    font: normal 0.8rem/1.2rem "roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    text-align: left;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  #pivImagePrint {
    display: none;
  }

  ::ng-deep body > vg-root > vg-portal > igo-map-browser > igo-zoom-button > div > button:nth-child(1) > span.mat-button-wrapper > mat-icon, ::ng-deep .mat-icon {
    color: #095797!important;
    border-color: #095797;
    border-radius: 0;
  }

.listePiv a:hover,.listePiv a:focus {
    text-decoration: underline;
    cursor:pointer;
}

.buttonLanguage{
    background: none;
    border-style: none;
    padding: 0;
    font: normal 0.8rem/1rem "roboto", sans-serif;
    color: unset;
}

#title-mobile {
    margin: auto 0;
    display: block;
}

#title-desktop {
    display:none;
    color: #fff;
    margin: auto 0;
    padding: 0;
}

igo-map-browser {
    height: calc(100% - $app-header-height);
}

/* //just for fun
#title-desktop:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 20%;
    border-bottom: 0;
    padding-bottom: .3em;
    text-decoration: none;
}*/

@media screen and (min-width: 576px) {

    .zone-logo-title, .zone-links {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

}

@media screen and (min-width: 768px) {

    .col-md-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .zone-links {
        -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

}

@media screen and (min-width: 824px) {

    #pivImage {
        max-height: 39px;
        padding-right: 3.75rem;
    }

    .banner {
        height:72px;
    }

    .d-md-block {
        display: block !important;
    }

    .d-md-none {
        display: none !important;
    }

    .zone-logo-title {
        -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
}
