:host {
  display: flex;
  height: 100%;
  width: 100%;
}

:host.column {
  flex-direction: column;
}

:host.row {
  flex-direction: row;
}

.igo-flexible-main {
  flex: 0 0 auto;
  overflow: hidden;
}

.igo-flexible-main.column {
  transition: height 0.25s ease-in;
}

.igo-flexible-main.row {
  transition: width 0.25s ease-in;
}

.igo-flexible-fill {
  flex: 1 1 auto;
  overflow: hidden;
  position: relative;
}

.igo-flexible-fill > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
