.wrapper {
  width: 500px;
  margin: auto;
  margin-top: 40px;
  min-height: 60vh;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
.title {
  font-size: 140px;
  line-height: 140px;
}
.subtitle {
  font-size: 50px;
  line-height: 50px;
}
