@import './map-toolbar.variables';


:host {
  @extend %box-shadowed;

  background-color: white;
}

fadq-toolbar ::ng-deep mat-list-item {
  background-color: initial !important;
}

mat-menu ::ng-deep .mat-menu-panel {
  min-width: inherit;
}
