<mat-grid-list cols="2" rowHeight="28px">
  <mat-grid-tile colspan="2">
    <fadq-client-legend-item
      [innerColor]="'rgba(35, 140, 0, 0.5)'"
      [outerColor]="'rgb(35, 140, 0)'"
      [title]="'client.legend.detnoexp' | translate">
    </fadq-client-legend-item>
  </mat-grid-tile>

  <mat-grid-tile colspan="2">
    <fadq-client-legend-item
      [innerColor]="'rgba(255, 139, 0, 0.5)'"
      [outerColor]="'rgb(255, 139, 0)'"
      [title]="'client.legend.detexp' | translate">
    </fadq-client-legend-item>
  </mat-grid-tile>

  <mat-grid-tile colspan="2">
    <fadq-client-legend-item
      [innerColor]="'rgba(0, 218, 250, 0.5)'"
      [outerColor]="'rgb(0, 218, 250)'"
      [title]="'client.legend.nodetexp' | translate">
    </fadq-client-legend-item>
  </mat-grid-tile>

  <mat-grid-tile colspan="2">
    <fadq-client-legend-item
      [innerColor]="'rgba(0, 103, 186, 0.5)'"
      [outerColor]="'rgb(0, 103, 186)'"
      [title]="'client.legend.sel' | translate">
    </fadq-client-legend-item>
  </mat-grid-tile>

</mat-grid-list>
