$colorFont: #888;

div.login {
    width: 90%;
    max-width: 600px;
    padding: 25px 50px;
    border: 1px solid;
    background-color: #fff;
    color: $colorFont;
    border-color: $colorFont;
}

.center-block {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
