<div class="igo-collapsible-header">
  <h4>
  	<md-icon
  	  (click)="handleClick()">
      <ng-container *ngIf="state === 'collapsed'">
        expand_more
      </ng-container>
      <ng-container *ngIf="state !== 'collapsed'">
        expand_less
      </ng-container>
    </md-icon>
    <div class="igo-collapsible-title">{{title}}</div>
  </h4>
</div>
<ng-content></ng-content>
<igo-flexible
  #content
  direction="column"
  initial="auto"
  collapsed="0"
  expanded="auto"
  [state]="state">
  <ng-content></ng-content>
</igo-flexible>
