:host {
  display: flex;
  height: 100%;
  width: 100%;
}

:host >>> [igoFlexMain] {
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto; 
  transition: height 0.25s ease-in;
}

:host >>> [igoFlexFill] {
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto; 
}
