<igo-list [navigation]="false">
  <ng-template ngFor let-item [ngForOf]="store.records$ | async">
    <ng-container *ngIf="isGroup(item)">
      <fadq-catalog-browser-group
        [group]="item"
        [state]="store.state"
        (layerSelect)="selectLayer($event)"
        (layerUnselect)="layerUnselect.emit($event)">
      </fadq-catalog-browser-group>
    </ng-container>

    <ng-container *ngIf="isLayer(item)">
      <fadq-catalog-browser-layer
        igoListItem
        [layer]="item"
        [focused]="store.getRecordState(item).focused"
        [selected]="store.getRecordState(item).selected"
        (select)="selectLayer(item)"
        (unselect)="layerUnselect.emit(item)">
      </fadq-catalog-browser-layer>
    </ng-container>
  </ng-template>

</igo-list>
