<igo-list [navigation]="false">
  <ng-template ngFor let-item [ngForOf]="store.observable | async">
    <ng-container *ngIf="isGroup(item)">
      <fadq-catalog-browser-group
        [group]="item"
        [state]="store.state"
        [added]="store.getEntityState(item).added"
        (layerSelect)="selectLayer($event)"
        (layerUnselect)="layerUnselect.emit($event)"
        (layerAdd)="addLayer($event)"
        (layerRemove)="removeLayer($event)"
        (add)="addGroup($event.group, $event.items)"
        (remove)="removeGroup($event.group, $event.items)">
      </fadq-catalog-browser-group>
    </ng-container>

    <ng-container *ngIf="isLayer(item)">
      <fadq-catalog-browser-layer
        igoListItem
        [layer]="item"
        [added]="store.getEntityState(item).added"
        [disabled]="store.getEntityState(item).added"
        [selected]="store.getEntityState(item).selected"
        (select)="selectLayer(item)"
        (unselect)="layerUnselect.emit(item)"
        (add)="addLayer($event)"
        (remove)="removeLayer($event)">
      </fadq-catalog-browser-layer>
    </ng-container>
  </ng-template>

</igo-list>
