<ng-container>

  <ng-container *ngIf="isGroup">
    <igo-collapsible [title]="title" [collapsed]="true">
      <igo-list [navigation]="false">
        <ng-template ngFor let-childitem [ngForOf]="item.data.items | catalogItemRecords">
          
            <fadq-catalog-browser-item
              igoListItem
              [item]="childitem"
              (select)="select.emit(item)"
              (unselect)="unselect.emit(item)">
            </fadq-catalog-browser-item>
          
        </ng-template>
      </igo-list>
    </igo-collapsible>
  </ng-container>

  <ng-container *ngIf="isLayer">
    <mat-list-item>
      <mat-icon mat-list-avatar>{{icon}}</mat-icon>
      <h4 mat-line matTooltipShowDelay="500" [matTooltip]="title">
        {{title}}
      </h4>
    </mat-list-item>
  </ng-container>

</ng-container>
