@import '~@igo2/core/style/partial/core.variables';

/*** Generic ***/
$fadq-background-color: rgb(255, 255, 255);
$fadq-icon-button-width: 40px;

$fadq-border-width: 1px;
$fadq-border-style: solid;
$fadq-border-color: rgba(0, 0, 0, .2);

%border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

%bordered-top {
  border-top: $fadq-border-width $fadq-border-style $fadq-border-color;
}

%bordered-bottom {
  border-bottom: $fadq-border-width $fadq-border-style $fadq-border-color;
}

%bordered-left {
  border-left: $fadq-border-width $fadq-border-style $fadq-border-color;
}

%bordered-right {
  border-right: $fadq-border-width $fadq-border-style $fadq-border-color;
}

%box-shadowed {
  -moz-box-shadow: 0px 0px 2px 0px #dddddd;
  -webkit-box-shadow: 0px 0px 2px 0px #dddddd;
  -o-box-shadow: 0px 0px 2px 0px #dddddd;
  box-shadow: 0px 0px 2px 0px #dddddd;
}

%box-shadowed-bottom-right {
  -moz-box-shadow: 2px 2px 2px 0px #dddddd;
  -webkit-box-shadow: 2px 2px 2px 0px #dddddd;
  -o-box-shadow: 2px 2px 2px 0px #dddddd;
  box-shadow: 2px 2px 2px 0px #dddddd;
}
