@import '@igo2/core/partial/core.variables';

/*** Generic ***/
$app-background-color: rgb(255, 255, 255);
$app-icon-button-width: 40px;

$app-border-width: 1px;
$app-border-style: solid;
$app-border-color: rgba(0, 0, 0, 0.2);

%border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

%bordered-top {
  border-top: $app-border-width $app-border-style $app-border-color;
}

%bordered-bottom {
  border-bottom: $app-border-width $app-border-style $app-border-color;
}

%bordered-left {
  border-left: $app-border-width $app-border-style $app-border-color;
}

%bordered-right {
  border-right: $app-border-width $app-border-style $app-border-color;
}

%box-shadowed {
  -moz-box-shadow: 0px 0px 2px 0px #dddddd;
  -webkit-box-shadow: 0px 0px 2px 0px #dddddd;
  -o-box-shadow: 0px 0px 2px 0px #dddddd;
  box-shadow: 0px 0px 2px 0px #dddddd;
}

%box-shadowed-bottom-right {
  -moz-box-shadow: 2px 2px 2px 0px #dddddd;
  -webkit-box-shadow: 2px 2px 2px 0px #dddddd;
  -o-box-shadow: 2px 2px 2px 0px #dddddd;
  box-shadow: 2px 2px 2px 0px #dddddd;
}
