<div class="wrapper">
  <div class="container">
    <div class="menu-item no-submenu">
      <a href="/expertises"> Expertises </a>
    </div>
    <div class="menu-item no-submenu">
      <a href="/faire-affaire-avec-la-sqi"> Faire affaire avec la SQI </a>
    </div>
    <div class="menu-item no-submenu">
      <a href="/emplois"> Emplois </a>
    </div>
    <div class="menu-item no-submenu">
      <a href="/actualites"> Actualités </a>
    </div>
    <div class="menu-item active no-submenu">
      <a href="/a-propos"> À propos </a>
    </div>
  </div>
</div>
