<div class="wrapper">
  <div class="mobile-container">
    <div class="menu-items-group">
      <div class="menu-item no-submenu">
        <a href="https://www.sqi.gouv.qc.ca/expertises"> Expertises </a>
      </div>
      <div class="menu-item no-submenu">
        <a href="https://www.sqi.gouv.qc.ca/faire-affaire-avec-la-sqi">
          Faire affaire avec la SQI
        </a>
      </div>
    </div>
    <div class="more-group" (click)="onToggleMore()">
      <span class="more-title">Plus</span
      ><img class="more-icon" src="assets/images/chevron-down-solid.svg" />
    </div>
  </div>
  <div class="large-container">
    <div class="menu-item no-submenu">
      <a href="https://www.sqi.gouv.qc.ca/expertises"> Expertises </a>
    </div>
    <div class="menu-item no-submenu">
      <a href="https://www.sqi.gouv.qc.ca/faire-affaire-avec-la-sqi">
        Faire affaire avec la SQI
      </a>
    </div>
    <div class="menu-item no-submenu">
      <a href="https://www.sqi.gouv.qc.ca/emplois"> Emplois </a>
    </div>
    <div class="menu-item no-submenu">
      <a href="https://www.sqi.gouv.qc.ca/actualites"> Actualités </a>
    </div>
    <div class="menu-item active no-submenu">
      <a href="https://www.sqi.gouv.qc.ca/a-propos"> À propos </a>
    </div>
  </div>
</div>
