:host {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/*** Actionbar and toolbox ***/

.igo-tool-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.igo-tool-container-with-animation {
  transform: translate3d(100%, 0, 0);
}

.igo-tool-container-with-toolbar {
  left: 51px;
}

igo-actionbar {
  height: 100%;
}

igo-actionbar.with-title {
  width: 100%;
  overflow: auto;
}

igo-actionbar:not(.with-title) {
  width: 48px;
  overflow: hidden;
  -moz-box-shadow: 2px 0px 2px 0px #dddddd;
  -webkit-box-shadow: 2px 0px 2px 0px #dddddd;
  -o-box-shadow: 2px 0px 2px 0px #dddddd;
  box-shadow: 2px 0px 2px 0px #dddddd;
}

igo-actionbar ::ng-deep igo-list {
  overflow: inherit;
}

igo-dynamic-outlet {
  overflow: auto;
}
