<div *ngIf="immeubles" class="wrapper">
  <div class="title">Immeubles</div>
  <div class="container">
    <app-filter></app-filter>
    <div class="results">
      <div class="results-header">
        <div class="results-count">{{ total }} immeubles</div>
        <div class="current-page" *ngIf="total > 0">
          Immeubles {{ (offset + 1) + ' à ' + (offset + limit) }}
        </div>
      </div>
      <div class="filter-values-line">
        <app-filter-values></app-filter-values>
      </div>
      <div class="number-per-page-line">
        <div></div>
        <app-number-per-page
          (numberChange)="onNumberPerPage($event)"
        ></app-number-per-page>
      </div>
      <div class="items">
        <ng-container *ngFor="let item of immeubles; let i = index">
          <app-immeuble-card [item]="item"></app-immeuble-card>
          <mat-divider *ngIf="i !== immeubles.length"></mat-divider>
        </ng-container>
      </div>
      <app-paginator
        (page)="onPage($event)"
        (pageSize)="onPageSize($event)"
        [limit]="limit"
        [skip]="offset"
        [total]="total"
        [pages]="pages"
      ></app-paginator>
    </div>
  </div>
</div>
