<div *ngIf="immeubles" class="wrapper">
  <div class="title">Immeubles</div>
  <div class="container">
    <app-filter></app-filter>
    <div class="results">
      <div class="results-header">
        <div class="results-count">{{ immeubles.length }} immeubles</div>
        <div class="current-page" *ngIf="immeubles.length > 0">
          Immeubles {{ offset + 1 + ' a ' + total / limit }}
        </div>
      </div>
      <div class="items">
        <ng-container *ngFor="let item of immeubles; let i = index">
          <app-immeuble-card [item]="item"></app-immeuble-card>
          <mat-divider *ngIf="i !== immeubles.length"></mat-divider>
        </ng-container>
      </div>
      <app-paginator
        (paginate)="onPaginate($event)"
        [limit]="limit"
        [skip]="offset"
        [total]="total"
      ></app-paginator>
    </div>
  </div>
</div>
