.wrapper {
  padding-top: 40px;
  max-width: 1314px;
  margin: auto;
  color: var(--qc-color-blue-piv);
}
.title {
  font-size: 48px;
  position: relative;
  height: 40px;
  cursor: default;
  color: #223654;
  font-weight: 900;
}
.title::before {
  content: '';
  position: absolute;
  height: 4px;
  width: 36px;
  bottom: 6px;
  background-color: rgb(192, 124, 0);
}
.number-per-page-line {
  width: 100%;
  margin: 10px 0px;
}

.container {
  padding: 20px 0px;
  display: flex;
  gap: 20px;
  width: 100%;
}

.results {
  width: 100%;
}

.results-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  font-size: 16px;
  padding-bottom: 4px;
}

.items {
  margin-top: 20px;
}

.results-count {
  color: #223654;
  font-size: 16px;
}

.current-page {
  color: #223654;
  font-size: 16px;
  font-weight: 500;
}

.mobile-filter {
  display: none;
}

.mobile-filter-content {
  display: none;
}

@media (max-width: 670px) {
  .wrapper {
    margin-left: 16px;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 20px;
  }

  .desktop-filter {
    display: none;
  }

  .mobile-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f2;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #f1f1f2;
    border-radius: 3px;
    height: 58px;
  }

  .mobile-filter span {
    color: #223654;
    font-size: 16px;
    font-weight: 900;
  }

  .mobile-filter-content {
    display: block;
    margin-top: 10px;
  }

  ::ng-deep app-filter .wrapper {
    width: 100% !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
  }

  ::ng-deep app-filter .title {
    display: none !important;
  }

  .mobile-filter-container {
    background-color: #f1f1f2;
    margin-bottom: 20px;
  }

  .mobile-filter-close {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    cursor: pointer;
  }

  .mobile-filter-close span {
    color: #223654;
    font-size: 16px;
    font-weight: 900;
  }

  .mobile-filter-close svg {
    margin-top: 10px;
  }
}
