.wrapper {
  padding-top: 40px;
  max-width: 1314px;
  margin: auto;
  color: var(--qc-color-blue-piv);
}
.title {
  font-size: 30px;
  position: relative;
  height: 40px;
  cursor: default;
}
.title::before {
  content: '';
  position: absolute;
  height: 4px;
  width: 36px;
  bottom: 6px;
  background-color: rgb(192, 124, 0);
}
.number-per-page-line {
  width: 100%;
  margin: 10px 0px;
}

.container {
  padding: 20px 0px;
  display: flex;
  gap: 20px;
  width: 100%;
}

.results {
  width: 100%;
}

.results-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  font-size: 16px;
  padding-bottom: 4px;
}

.items {
  margin-top: 20px;
}

.results-count {
  color: #223654;
  font-size: 16px;
}

.current-page {
  color: #223654;
  font-size: 16px;
  font-weight: 500;
}
