<form [formGroup]="form" novalidate>

  <fieldset>
    <div>
      <md-input-container>
        <input
          mdInput
          formControlName="title"
          placeholder="{{'Title' | translate}}">
      </md-input-container>
      <small 
        class="igo-form-inline-error"
        [hidden]="title.valid || (title.pristine && !submitted)">
        {{'titleRequired' | translate}}
      </small>
    </div>
  </fieldset>

  <div class="igo-form-button-group">
    <button
      md-raised-button
      (click)="save(form.value, form.valid)">
      {{'Save' | translate}}
    </button>
  </div>

</form>