@require '../../../css/theme.styl';

$igo-spinner-size = 40px;
$igo-spinner-border-width = 4px;
$igo-spinner-top-left = 2px;

.igo-spinner {
  display: none;
}

.igo-spinner-shown {
  display: block;
}

md-progress-circle {
  height: $igo-spinner-size;
  width: $igo-spinner-size;
  border-radius: 50%;
}

:host >>> md-progress-circle path {
  stroke: $igo-primary-color;
}

.igo-spinner-background {
  height: $igo-spinner-size - $igo-spinner-border-width;
  width: $igo-spinner-size - $igo-spinner-border-width;
  border-radius: 50%;
  border: $igo-spinner-border-width solid $igo-background-color;
  position: absolute;
  top: $igo-spinner-top-left;
  left: $igo-spinner-top-left;
}
