<igo-panel
  [title]="title"
  [withHeader]="withHeader"
  (click)="onToggleClick()">


  <button
    mat-icon-button
    panelLeftButton
    (click)="onListClick()">
    <mat-icon>list</mat-icon>
  </button>

  <button
    mat-icon-button
    panelLeftButton
    (click)="onCloseClick()">
    <mat-icon>chevron_left</mat-icon>
  </button>

  <button
    mat-icon-button
    panelRightButton
    (click)="onCloseClick()">
    <mat-icon>chevron_right</mat-icon>
  </button>

  <button
    mat-icon-button
    panelRightButton
    (click)="onCloseClick()">
    <mat-icon>close</mat-icon>
  </button>

  <div
    #content
    igoStopPropagation
    [@showContent]="opened">
    <ng-content></ng-content>
  </div>
</igo-panel>
