<igo-panel
  *ngIf="results && results.length"
  [title]="resultSelected ? getTitle(resultSelected) : 'Liste des résultats'"
  (click)="onToggleClick()">

  <button
    mat-icon-button
    igoStopPropagation
    panelLeftButton
    (click)="onListClick()">
    <mat-icon svgIcon="format-list-bulleted-square"></mat-icon>
  </button>

  <button
    mat-icon-button
    igoStopPropagation
    panelLeftButton
    (click)="onPreviousClick()">
    <mat-icon svgIcon="chevron-left"></mat-icon>
  </button>

  <button
    mat-icon-button
    igoStopPropagation
    panelRightButton
    (click)="onNextClick()">
    <mat-icon svgIcon="chevron-right"></mat-icon>
  </button>

  <button
    mat-icon-button
    igoStopPropagation
    panelRightButton
    (click)="onCloseClick()">
    <mat-icon svgIcon="close"></mat-icon>
  </button>

  <div
    #content
    igoStopPropagation
    [@showContent]="opened">

    <igo-feature-details
      *ngIf="resultSelected"
      [feature]="resultSelected.data">
    </igo-feature-details>

    <igo-search-results
      *ngIf="!resultSelected"
      [store]="store"
      (resultSelect)="onResultSelect($event)">
    </igo-search-results>

  </div>
</igo-panel>
