@import '../portal.variables';

:host {
  @extend %box-shadowed;

  background-color: white;

  height: $app-toast-panel-collapsed-height;
  max-height: $app-toast-panel-max-height;

  transition: height 280ms cubic-bezier(.4,0,.2,1);
  padding: $igo-padding;
}

:host.app-toast-panel-opened {
  height: auto;
  max-height: $app-toast-panel-max-height;

  @include mobile {
    height: 40%;
  }
}

igo-panel ::ng-deep .igo-panel-header:hover {
  cursor: pointer;
}

div[igostoppropagation] {
  height: 100%;
  width: 100%;
}

igo-panel {
  height: 100%;
}

igo-panel ::ng-deep h3 {
  display: flex;
}

igo-panel ::ng-deep .igo-panel-title {
  flex-grow: 2;
  margin: 0;
}

igo-panel ::ng-deep .igo-panel-header ::ng-deep [panelleftbutton],
igo-panel ::ng-deep .igo-panel-header ::ng-deep [panelrightbutton] {
  margin: 0;
}

igo-panel ::ng-deep .igo-panel-content {
  max-height: 235px;
}
