@import '../portal.variables';

:host {
  @extend %box-shadowed;

  background-color: white;

  // height: $app-toast-panel-collapsed-height;
  // max-height: $app-toast-panel-max-height;

  transition: height 280ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: $igo-padding;

  @include mobile {
    width: 100%;
    min-width: 100%;
  }

  igo-panel ::ng-deep .igo-panel-header:hover {
    cursor: pointer;
  }

  igo-panel {
    height: 100%;
    outline: none;
  }

  igo-panel ::ng-deep h3 {
    display: flex;
  }

  igo-panel ::ng-deep .igo-panel-header ::ng-deep [panelleftbutton],
  igo-panel ::ng-deep .igo-panel-header ::ng-deep [panelrightbutton] {
    margin: 0;
  }

  igo-panel ::ng-deep .igo-panel-content {
    user-select: auto !important;
  }

  igo-feature-details ::ng-deep iframe {
    min-height: 24vh;

    @include mobile {
      min-height: 30vh;
    }
  }

  app-full-toast-panel-opened
    igo-feature-details[_ngcontent-fiq-c23]
    iframe {
    min-height: 450px;

    @include mobile {
      min-height: 350px;
    }
  }

  .swipe-fix {
    touch-action: pinch-zoom !important;
  }

  igo-actionbar {
    overflow: hidden;
  }
}

.app-toast-panel-html {
  height: $app-toast-panel-height;
  max-height: fit-content;
  width: $app-toast-panel-html-width;

  @include mobile {
    width: 100%;
    min-width: 100%;
    height: $app-toast-panel-height-mobile;
  }

  @include tablet {
    width: $app-toast-panel-width-tablet;
  }
}

.app-toast-panel-html-large {
  height: $app-toast-panel-html-large-height;
  width: $app-toast-panel-html-width;

  @include mobile {
    width: 100%;
    min-width: 100%;
    max-height: $app-full-toast-panel-max-height;
    height: $app-full-toast-panel-height-mobile;
  }

  @include tablet {
    width: $app-toast-panel-width-tablet;
  }

  .toast-content {
    height: 100%;
    width: 100%;
  }
}

.app-toast-panel-opened {
  height: auto;
  max-height: $app-toast-panel-max-height;
  width: $app-toast-panel-width;
  max-width: $app-toast-panel-max-width;
  margin-bottom: 7px;

  @include mobile {
    max-height: $app-toast-panel-height-mobile;
    width: 100%;
    min-width: 100%;
  }
  @include tablet {
    width: $app-toast-panel-width-tablet;
  }

  .toast-content {
    height: 100%;
    width: 100%;
    max-height: calc(
      #{$app-toast-panel-max-height} - 34px
    ); // scroll bar inside panel
  }
}

.app-full-toast-panel-opened {
  height: auto;
  max-height: $app-full-toast-panel-max-height;
  width: $app-full-toast-panel-width;

  .toast-content {
    height: 100%;
    width: 100%;
    max-height: calc(
      #{$app-full-toast-panel-max-height} - 41px
    ); // scroll inside panel on overflow
  }
  @include tablet {
    width: $app-toast-panel-width-tablet;
    max-height: 500px;

    .toast-content {
      max-height: calc(#{$app-full-toast-panel-max-height} - 21vh);
    }
  }

  @include mobile {
    width: 100%;
    min-width: 100%;
    max-height: $app-full-toast-panel-max-height;
  }
}

.app-toast-panel-collapsed {
  height: $app-toast-panel-collapsed-height !important; // !important needed when expansion-panel is maximised
  width: $app-toast-panel-width;
  max-width: $app-toast-panel-max-width;

  @include mobile {
    width: 100%;
    min-width: 100%;
    height: $app-toast-panel-collapsed-height-mobile !important;
  }
  @include tablet {
    width: $app-toast-panel-width-tablet;
  }
}

.app-full-toast-panel-collapsed {
  height: $app-toast-panel-collapsed-height !important;
  width: $app-full-toast-panel-width;

  @include mobile {
    width: 100%;
    min-width: 100%;
    height: $app-toast-panel-collapsed-height-mobile !important;
  }
  @include tablet {
    width: $app-toast-panel-width-tablet;
  }
}

.app-toast-panel-html-collapsed {
  height: $app-toast-panel-collapsed-height !important;
  width: $app-toast-panel-html-width;

  @include mobile {
    width: 100%;
    min-width: 100%;
    height: $app-toast-panel-collapsed-height-mobile !important;
  }
  @include tablet {
    width: $app-toast-panel-width-tablet;
  }
}

#app-toast-panel-opened-max-height {
  height: $app-toast-panel-max-height !important;
}

#app-full-toast-panel-opened-max-height {
  height: $app-full-toast-panel-max-height !important;
}
