@import '../portal.variables';

:host {
  @extend %box-shadowed;

  background-color: white;

  height: $app-toast-panel-collapsed-height;
  max-height: $app-toast-panel-max-height;

  transition: height 280ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: $igo-padding;
}

:host.app-toast-panel-opened {
  height: auto;
  max-height: $app-toast-panel-max-height;

  @include mobile {
    height: 40%;
  }

  .toast-content {
    height: 100%;
    width: 100%;
  }
}

:host.app-full-toast-panel-opened {
  height: auto;
  max-height: 650px;
  width: 45%;

  @include tablet {
    width: 500px;
    max-height: 500px;
  }

  .toast-content {
    height: 100%;
    width: 100%;
  }
}

igo-panel ::ng-deep .igo-panel-header:hover {
  cursor: pointer;
}

igo-panel {
  height: 100%;
  outline: none;
}

igo-panel ::ng-deep h3 {
  display: flex;
}

igo-panel ::ng-deep .igo-panel-title {
  flex-grow: 2;
  margin: 0;
}

igo-panel ::ng-deep .igo-panel-header ::ng-deep [panelleftbutton],
igo-panel ::ng-deep .igo-panel-header ::ng-deep [panelrightbutton] {
  margin: 0;
}

igo-panel ::ng-deep .igo-panel-content {
  max-height: 230px;
  -webkit-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  user-select: auto !important;
}

button[disabled="true"] {
    color: rgba(0,0,0,.26);
}

:host.app-full-toast-panel-opened igo-panel ::ng-deep .igo-panel-content {
  max-height: calc(650px - 46px);
  overflow: auto;
}

igo-feature-details ::ng-deep iframe {
  min-height: 226px;
}

host.app-full-toast-panel-opened igo-feature-details[_ngcontent-fiq-c23] iframe {
  min-height: 450px;

  @include mobile {
    min-height: 350px;
  }
}

.swipe-fix {
  touch-action: pinch-zoom !important;
}

igo-panel ::ng-deep igo-list {
  max-height: 230px;
}

igo-actionbar {
  overflow: hidden;
}
