@require '../../../css/media.styl';
@require '../../../css/theme.styl';
@require '../../shared/list/list.component.styl';
@require '../layer-legend/layer-legend.component.styl';

:host {
  overflow: hidden;
}

.igo-layer-actions-container,
.igo-layer-legend-container {
  width: 100%;
  padding: $igo-list-item-padding;
  display: inline-block;
}

.igo-layer-actions-container {
  bordered-top();
  bordered-bottom();
}

.igo-layer-actions-container > div {
  text-align: center;
}

.igo-layer-legend-container {
  padding-left: $igo-layer-legend-padding-left;
}

#opacity-slider {
  width: 100%;

  +media(mobile) {
    width: 70%;
  }
}

.igo-layer-button-group {
  float: right;

  +media(mobile) {
    float: none;
  }
}
