<md-list-item class="igo-collapsible-header">
  <md-icon
    id="legend-toggle"
    md-list-avatar
    igoCollapse
    [target]="legend"
    [collapsed]="layer.collapsed"
    (toggle)="toggleLegend($event)">
  </md-icon>
  <h4 md-line>{{layer.options.name}}</h4>

  <button
    md-icon-button
    collapsibleButton
    class="igo-icon-button"
    (click)="toggleVisibility()"
    [md-tooltip]="(layer.visible ? 'Hide Layer' : 'Show Layer') | translate"
    tooltip-position="below">
    <md-icon>
      <ng-container *ngIf="layer.visible">
        layers
      </ng-container>
      <ng-container *ngIf="!layer.visible">
        layers_clear
      </ng-container>
    </md-icon>
  </button>

  <button
    md-icon-button
    igoCollapse
    class="igo-icon-button"
    [target]="actions" [collapsed]="true">
    <md-icon>more_horiz</md-icon>
  </button>
</md-list-item>

<div #actions class="igo-layer-actions">
  <div class="igo-col igo-col-40 igo-col-100-m">
    <md-slider 
      id="opacity-slider"
      thumbLabel
      tickInterval="5" 
      [min]="0" [max]="100"
      [(ngModel)]="opacity"
      [md-tooltip]="'Opacity' | translate"
      tooltip-position="below">  
    </md-slider>
  </div>

  <div class="igo-col igo-col-60 igo-col-100-m">
    <div class="igo-layer-button-group">
      <button
        md-icon-button
        class="igo-icon-button"
        (click)="raiseLayer.emit(layer)"
        [md-tooltip]="'Raise Layer' | translate"
        tooltip-position="below">
        <md-icon>arrow_upward</md-icon>
      </button>

      <button
        md-icon-button
        class="igo-icon-button"
        (click)="lowerLayer.emit(layer)"
        [md-tooltip]="'Lower Layer' | translate"
        tooltip-position="below">
        <md-icon>arrow_downward</md-icon>
      </button>

       <button
        md-icon-button
        class="igo-icon-button"
        (click)="removeLayer.emit(layer)"
        [md-tooltip]="'Remove Layer' | translate"
        tooltip-position="below">
        <md-icon>delete</md-icon>
      </button>

      <button
        md-icon-button
        collapsibleButton
        class="igo-icon-button"
        (click)="editLayer.emit(layer)"
        *ngIf="edition"
        [md-tooltip]="'Edit Layer' | translate"
        tooltip-position="below">
        <md-icon>settings</md-icon>
      </button>
    </div>
  </div>
</div>

<div #legend class="igo-layer-legend">
  The legend will go here
</div>
