<div class="wrapper" *ngIf="buildingDetails">
  <div class="nom_de_immeuble">
    {{ buildingDetails.nom_immeuble }}
  </div>
  <div class="address">
    <img src="assets/images/location.jpg" alt="" class="icon" />{{
      buildingDetails.adresse_immeuble
    }}
  </div>

  <div>
    <img src="https://www.sqi.gouv.qc.ca/fileadmin/user_upload/01_nes_pierre-bedard.jpg" alt="" class="photo" />
    <div class="caption">
      Perspective extérieure du futur bâtiment de l’école Pierre-Bédard<br>
      Image : MSDL Architectes
    </div>
  </div>

  <div class="coordinates">
    <div class="title">Coordonnées</div>
    <div class="element" *ngIf="buildingDetails.nom_proprietaire">
      <div class="element-title">Propriétarie</div>
      <div class="element-lines-wrapper">
        <div class="element-line">
          <img src="assets/images/profile.png" alt="" class="element-icon" />
          {{ buildingDetails.nom_proprietaire }}
        </div>
      </div>
    </div>

    <div class="element">
      <div class="element-title">Direction immobilière</div>
      <div class="element-lines-wrapper">
        <div class="element-line">
          <img src="assets/images/profile.png" alt="" class="element-icon" />
          {{ buildingDetails.direction_immobiliere_nom }}
        </div>
        <div class="element-line">
          <img src="assets/images/profile.png" alt="" class="element-icon" />
          {{ buildingDetails.nom_directeur_immobilier }}
        </div>
        <div class="element-line">
          <img src="assets/images/envelope.png" alt="" class="element-icon" />
          <a
            [href]="'mailto:' + buildingDetails.courriel_direction_immobiliere"
            >{{ buildingDetails.courriel_direction_immobiliere }}</a
          >
        </div>
      </div>
    </div>

    <div class="element">
      <div class="element-title">
        Coordonnateur à l'administration immobilière (CAI)
      </div>
      <div class="element-lines-wrapper">
        <div class="element-line">
          <img src="assets/images/profile.png" alt="" class="element-icon" />
          {{ buildingDetails.nom_directeur_immobilier }}
        </div>
        <div class="element-line">
          <img src="assets/images/envelope.png" alt="" class="element-icon" />
          <a
            [href]="'mailto:' + buildingDetails.courriel_direction_immobiliere"
            >{{ buildingDetails.courriel_direction_immobiliere }}</a
          >
        </div>
      </div>
    </div>

    <div class="element">
      <div class="element-title">
        Conseiller immobilier (CI)
      </div>
      <div class="element-lines-wrapper">
        <div class="element-line">
          <img src="assets/images/profile.png" alt="" class="element-icon" />
          Nom Exemple
        </div>
        <div class="element-line">
          <img src="assets/images/envelope.png" alt="" class="element-icon" />
          <a [href]="'mailto:contact@exemple.ca'">contact@exemple.ca</a>
        </div>
      </div>
    </div>


    <div class="element">
      <div class="element-title">
        Technicien en exploitation d'immeubles (TEI)
      </div>
      <div class="element-lines-wrapper">
        <div class="element-line">
          <img src="assets/images/profile.png" alt="" class="element-icon" />
          Nom Exemple
        </div>
        <div class="element-line">
          <img src="assets/images/envelope.png" alt="" class="element-icon" />
          <a [href]="'mailto:contact@exemple.ca'">contact@exemple.ca</a>
        </div>
      </div>
    </div>

    <div class="element">
      <div class="element-title">
        Technicien de soutien aux opérations (TSO)
      </div>
      <div class="element-lines-wrapper">
        <div class="element-line">
          <img src="assets/images/profile.png" alt="" class="element-icon" />
          Nom Exemple
        </div>
        <div class="element-line">
          <img src="assets/images/envelope.png" alt="" class="element-icon" />
          <a [href]="'mailto:contact@exemple.ca'">contact@exemple.ca</a>
        </div>
      </div>
    </div>

  </div>

  <div class="coordinates">
    <div class="title">Caractéristiques</div>

    <div class="element-line-2">
      Numéro de l'immeuble : <strong>{{ buildingDetails.numero_immeuble }}-{{ buildingDetails.type_propriete_ou_location }}</strong>
    </div>
    <div class="element-line-2">
      Nombre d'étages : <strong>{{ buildingDetails.nombre_etages }}</strong>
    </div>
    <div class="element-line-2">
      Vocation officielle : <strong>{{ buildingDetails.vocation_officielle }}</strong>
    </div>
    <div class="element-line-2">
      Immeuble patrimonial : <strong>non</strong>
    </div>
    <div class="element-line-2">
      Superficie locative : <strong>{{ buildingDetails.superficie_locative }}</strong>
    </div>
    <div class="element-line-2">
      Certification(s) : <strong>Lorem ipsum</strong>
    </div>

  </div>

  <div class="coordinates">
    <div class="title">Carte</div>

    <div class="element-line">
      <img src="assets/images/location.jpg" alt="" class="element-icon" />
      <a [href]="google_full_map_url" target='_blank'>Voir sur Google Maps</a>
    </div>
    <div class="element-line">
      <iframe class="google_embedded_map" [src]='google_embed_url'></iframe>
    </div>

  </div>

</div>
