<div class="wrapper">
  <div class="nom_de_immeuble">
    {{ buildingDetails.nom_immeuble }}
  </div>
  <div class="address">
    <img src="assets/images/location.jpg" alt="" class="icon" />{{
      buildingDetails.adresse_immeuble
    }}
  </div>
  <div class="coordinates">
    <div class="title">Coordonnées</div>
    <div class="element" *ngIf="buildingDetails.nom_proprietaire">
      <div class="element-title">Propriétarie</div>
      <div class="element-lines-wrapper">
        <div class="element-line">
          <img src="assets/images/profile.png" alt="" class="element-icon" />
          {{ buildingDetails.nom_proprietaire }}
        </div>
      </div>
    </div>

    <div class="element">
      <div class="element-title">Direction immobilière</div>
      <div class="element-lines-wrapper">
        <div class="element-line">
          <img src="assets/images/profile.png" alt="" class="element-icon" />
          {{ buildingDetails.direction_immobiliere_nom }}
        </div>
        <div class="element-line">
          <img src="assets/images/profile.png" alt="" class="element-icon" />
          {{ buildingDetails.nom_directeur_immobilier }}
        </div>
        <div class="element-line">
          <img src="assets/images/envelope.png" alt="" class="element-icon" />
          <a
            [href]="'mailto:' + buildingDetails.courriel_direction_immobiliere"
            >{{ buildingDetails.courriel_direction_immobiliere }}</a
          >
        </div>
      </div>
    </div>

    <div class="element">
      <div class="element-title">
        Coordonnateur à l'administration immobilière (CAI)
      </div>
      <div class="element-lines-wrapper">
        <div class="element-line">
          <img src="assets/images/profile.png" alt="" class="element-icon" />
          {{ buildingDetails.nom_directeur_immobilier }}
        </div>
        <div class="element-line">
          <img src="assets/images/envelope.png" alt="" class="element-icon" />
          <a
            [href]="'mailto:' + buildingDetails.courriel_direction_immobiliere"
            >{{ buildingDetails.courriel_direction_immobiliere }}</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
