<div class="wrapper" *ngIf="buildingDetails">
  <div class="nom_de_immeuble">
    {{
      buildingDetails.nom_immeuble ||
        'Immeuble ' + buildingDetails.numero_immeuble
    }}
  </div>
  <div class="address">
    <img src="assets/images/location.jpg" alt="" class="icon" />{{
      buildingDetails.adresse_immeuble
    }}
  </div>

  <div class="coordinates">
    <div class="element" *ngIf="buildingDetails.nom_proprietaire">
      <div class="element-title">Propriétarie</div>
      <div class="element-lines-wrapper">
        <div class="element-line">
          <img src="assets/images/profile.png" alt="" class="element-icon" />
          {{ buildingDetails.nom_proprietaire }}
        </div>
      </div>
    </div>

    <div class="element">
      <div class="element-title">Direction immobilière</div>
      <div class="element-lines-wrapper">
        <div class="element-line">
          <img src="assets/images/profile.png" alt="" class="element-icon" />
          {{ buildingDetails.direction_immobiliere_nom }}
        </div>
        <div class="element-line">
          <img src="assets/images/profile.png" alt="" class="element-icon" />
          {{ buildingDetails.nom_directeur_immobilier }}
        </div>
        <div class="element-line">
          <img src="assets/images/envelope.png" alt="" class="element-icon" />
          <a
            [href]="'mailto:' + buildingDetails.courriel_direction_immobiliere"
            >{{ buildingDetails.courriel_direction_immobiliere }}</a
          >
        </div>
      </div>
    </div>

    <div class="element">
      <div class="element-title">
        Coordonnateur à l'administration immobilière (CAI)
      </div>
      <div class="element-lines-wrapper">
        <div class="element-line">
          <img src="assets/images/profile.png" alt="" class="element-icon" />
          {{ buildingDetails.nom_directeur_immobilier }}
        </div>
        <div class="element-line">
          <img src="assets/images/envelope.png" alt="" class="element-icon" />
          <a
            [href]="'mailto:' + buildingDetails.courriel_direction_immobiliere"
            >{{ buildingDetails.courriel_direction_immobiliere }}</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="coordinates">
    <div class="title">Caractéristiques</div>

    <div class="element-line-2">
      Numéro de l'immeuble :
      <strong
        >{{ buildingDetails.numero_immeuble }}-{{
          buildingDetails.type_propriete_ou_location
        }}</strong
      >
    </div>
    <div class="element-line-2">
      Nombre d'étages : <strong>{{ buildingDetails.nombre_etages }}</strong>
    </div>
    <div class="element-line-2">
      Vocation officielle :
      <strong>{{ buildingDetails.vocation_officielle }}</strong>
    </div>
    <div class="element-line-2">
      Immeuble patrimonial : <strong>non</strong>
    </div>
    <div class="element-line-2">
      Superficie locative :
      <strong>{{ buildingDetails.superficie_locative }}</strong>
    </div>
    <div class="element-line-2">
      Certification(s) : <strong>Lorem ipsum</strong>
    </div>
  </div>

  <div class="coordinates">
    <div class="element-line google-maps-button">
      <img src="assets/images/location2.png" alt="" class="element-icon" />
      <a [href]="google_full_map_url" target="_blank">Voir sur Google Maps</a>
    </div>
  </div>
</div>
