.wrapper {
  background-color: var(--qc-color-white);
  max-width: 1314px;
  width: 100%;
  padding: 24px 16px;
  margin: auto;
}

.nom_de_immeuble {
  font-size: 48px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #223654;
}

.nom_de_immeuble::after {
  content: '';
  height: 5px;
  width: 40px;
  background-color: #e58271;
  display: block;
  margin-top: 20px;
  margin-left: 4px;
}

.address {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #223654;
  white-space: pre-line;
}

.address img {
  padding-bottom: 39px;
}

.icon {
  width: 22px;
  max-width: 22px;
  height: auto;
  object-fit: contain;
}

h2 {
  all: unset;
}

.title {
  font-size: 28px;
  font-weight: bold;
  color: #223654;
}

.element {
  color: #223654;
  padding-left: 25px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 30px;
  width: auto;
  max-width: 700px;
  margin-bottom: 30px;
  border: 1px solid #bdb9b9;
}

.element-lines-wrapper {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.element-title {
  font-size: 16px;
  color: #223654;
}

.element-line {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #223654;
  padding-bottom: 16px;
}

.element-icon {
  width: 17px;
  max-width: 17px;
  height: auto;
  object-fit: contain;
}

.element-line-2 {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
  font-size: 16px;
}

.caption {
  width: 809px;
  margin-top: 4px;
  padding: 4px 16px;
  background-color: rgba(128, 128, 128, 0.1);
  font-size: 12px;
  color: #223654;
}

.carte-button {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #095797;
  padding: 10px 15px;
  border-radius: 3px;
  text-decoration: none;
  font-weight: bold;
  width: 359px;
  height: 40px;
  //margin-left: 16px;
  margin-top: 54px;
  color: white;
  border-width: 0px;
  cursor: pointer;
}

.carte-button img {
  width: 20px;
  height: 20px;
  padding-bottom: 4px;
}

.carte-button:hover {
  background-color: #2774b3;
}

.google-button {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #095797;
  padding: 10px 15px;
  border-radius: 3px;
  text-decoration: none;
  font-weight: bold;
  width: 229px;
  height: 40px;
  //margin-left: 16px;
  margin-top: 54px;
  margin-bottom: 40px;
  color: white;
  border-width: 0px;
  cursor: pointer;
}

.google-button img {
  width: 20px;
  height: 20px;
  padding-bottom: 4px;
}

.google-button:hover {
  background-color: #2774b3;
}

/*
.coordinates-caract {
  padding-left: 20px;
  padding-right: 20px;
}
*/

@media (max-width: 372px) {
  .nom_de_immeuble {
    font-size: 36px;
  }
}

@media (max-width: 288px) {
  .nom_de_immeuble {
    font-size: 30px;
  }
}
