<header class="wrapper">
  <div class="container">
    <div class="groups">
      <div class="brand-group">
        <img
          class="logo"
          alt="Site Web Société québécoise des infrastructures."
          src="assets/images/signature-PIV.svg"
        />
        <a class="brand" href="https://www.sqi.gouv.qc.ca/"
          ><span>Société québécoise des infrastructures</span></a
        >
      </div>
      <div class="search-group">
        <img
          *ngIf="!searchBarOpened"
          class="search-icon"
          src="assets/images/loop.svg"
          alt="Recherche"
          (click)="onToggleSearchBar()"
        />
        <img
          *ngIf="searchBarOpened"
          src="assets/images/close.svg"
          alt="Recherche"
          class="search-icon"
          (click)="onToggleSearchBar()"
        />
        <a class="wt" href="https://www.sqi.gouv.qc.ca/a-propos/nous-joindre"
          >Nous joindre</a
        >
      </div>
    </div>
    <app-search-bar></app-search-bar>
  </div>
</header>
