@import '@igo2/core/partial/core.variables';

:host {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/*** Spinner ***/

igo-spinner {
  position: absolute;
  top: $igo-margin;
  right: $igo-margin;
  z-index: 100;
}

/*** Message-center ***/
igo-message-center
  ::ng-deep
  simple-notifications
  ::ng-deep
  div.simple-notification-wrapper {
  right: 10px;
}

$header-height: 216px;
$header-height-mobile: 216px;
$footer-height: 32px;
$footer-height-mobile: 32px;

::ng-deep .portal-with-header {
  height: calc(100% - #{$header-height-mobile}) !important;
}

::ng-deep .portal-with-header-footer {
  height: calc(100% - #{$header-height-mobile} - #{$footer-height-mobile * 2}) !important;
}

::ng-deep .portal-with-footer {
  height: calc(100% - #{$footer-height-mobile * 2}) !important;
}

@media screen and (min-width: 824px) {
  ::ng-deep .portal-with-header {
    height: calc(100% - #{$header-height}) !important;
  }

  ::ng-deep .portal-with-header-footer {
    height: calc(100% - #{$header-height} - #{$footer-height * 2}) !important;
  }

  ::ng-deep .portal-with-footer {
    height: calc(100% - #{$footer-height * 2}) !important;
  }
}
