@import '~@igo2/core/style/partial/core.variables';
@import './pages/portal/portal.variables';


:host {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: relative;
  display: block;
  font-family: Times New Roman;
  font-size: 16px;
}

:host ::ng-deep {
  h3 {
    font-size: 1.17em;
    font-weight: bold;
  }

  h4 {
    font-weight: 400;
  }
}

/*** Message Center ***/
igo-message-center {
  position: absolute;
  bottom: $fadq-footer-height;
  right: $igo-margin;
}

igo-message-center ::ng-deep .simple-notification-wrapper {
  position: relative;
  bottom: inherit;
  right: inherit;
}

/*** Spinner ***/
igo-spinner {
  position: absolute;
  top: $igo-margin;
  right: $igo-margin;
  z-index: 5;
}
