@import '@igo2/core/style/partial/core.variables';

:host {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/*** Spinner ***/

igo-spinner {
  position: absolute;
  top: $igo-margin;
  right: $igo-margin;
  z-index: 100;
}

/*** Message-center ***/
igo-message-center ::ng-deep simple-notifications ::ng-deep div.simple-notification-wrapper {
  right: 10px;
}

$header-height: 72px;
$header-height-mobile: 72px;
$footer-height: 29px;

::ng-deep .portal-with-header {
height: calc( 100% - #{$header-height-mobile} )!important;
}

::ng-deep .portal-with-header-footer {
  height: calc( 100% - #{$header-height-mobile} - #{$footer-height} )!important;
}

::ng-deep .portal-with-footer {
  height: calc( 100% - #{$footer-height} )!important;
}

@media screen and (min-width: 824px) {
  ::ng-deep .portal-with-header {
        height: calc( 100% - #{$header-height} )!important;
        }

  ::ng-deep .portal-with-header-footer {
      height: calc( 100% - #{$header-height} - #{$footer-height} )!important;
      }
}

/*TODO(mdc-migration): The following rule targets internal classes of tooltip that may no longer apply for the MDC version.*/
::ng-deep .mat-tooltip-hide { display: none!important; } // temporary fix (https://github.com/angular/components/issues/24614)

::ng-deep .mat-mdc-form-field-icon-suffix {
  ::ng-deep mat-icon  {
    width: auto !important;
    height: -webkit-fill-available !important;
  }
}
