@require '../css/theme.styl';

:host, main {
  width: 100%;
  height: 100%;
}

main {
  position: fixed;
  padding: 0;
  transition: 0.5s;
}

:host >>> .md-input-element {
  padding: 0 $igo-padding;
}

:host >>> .md-input-placeholder {
  font-style: italic;
  top: 10px;
  left: $igo-padding;
  right: $igo-padding;
  color: $igo-border-color;
}

:host >>> .md-input-placeholder {
  font-style: italic;
  top: 10px;
}

/*--- Spinner ---*/
igo-spinner {
  position: absolute;
  top: $igo-margin;
  right: $igo-margin;
  z-index: 5;
}
