@import '~@igo2/core/style/partial/core.variables';

:host {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/*** Spinner ***/

igo-spinner {
  position: absolute;
  top: $igo-margin;
  right: $igo-margin;
  z-index: 100;
}

/*** Message-center ***/
igo-message-center ::ng-deep simple-notifications ::ng-deep div.simple-notification-wrapper {
  right: 10px;
}
