@require '../../../css/theme.styl';
@require '../../../css/media.styl';

:host, .igo-map-target {
  width: 100%;
  height: 100%;
}

:host >>> .igo-zoom-container {
  position: absolute;
  bottom: $igo-margin;
  right: $igo-margin;
  width: $igo-icon-button-width;

  +media(mobile) {
    display: none;
  }
}

:host >>> .ol-attribution {
  left: $igo-margin;
  right: inherit;
  text-align: left;
  padding: 0;
}

:host >>> .ol-attribution ul {
  padding: 0;
}
