.wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: bold;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 30px;
}

#number-per-page {
  border: 1px solid #1479cc;
  width: 56px;
  height: 32px;
  background-color: white;
  appearance: none; /* Supprime le style par défaut du navigateur */
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari/Chrome */
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='7' viewBox='0 0 12 7'%3E%3Cpolyline points='1,1 6,6 11,1' fill='none' stroke='%231479cc' stroke-width='1.5'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  padding-right: 20px;
  color: #223654;
}

#number-per-page option {
  background-color: white;
  color: #223654;
  text-align: center;
}

#number-per-page:hover {
  cursor: pointer;
}

#number-per-page:focus {
  outline: 1px solid #1479cc;
}

.wrapper-content-right label {
  color: #223654;
  font-size: 14px;
  margin-right: 19px;
}

.labels {
  color: #223654;
  font-size: 14px;
  margin-right: 19px;
}

#sortBy {
  border: 1px solid #1479cc;
  width: 180px;
  height: 32px;
  background-color: white;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='7' viewBox='0 0 12 7'%3E%3Cpolyline points='1,1 6,6 11,1' fill='none' stroke='%231479cc' stroke-width='1.5'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  padding-right: 20px;
  color: #223654;
}

#sortBy option {
  background-color: white;
  color: #223654;
  text-align: left;
}

#sortBy:hover {
  cursor: pointer;
}

#sortBy:focus {
  outline: 1px solid #1479cc;
}

@media screen and (max-width: 847px) {
  .wrapper-content-left,
  .wrapper-content-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }

  .wrapper-content-left label,
  .wrapper-content-right label {
    margin-bottom: 10px;
    font-size: 16px;
  }

  .wrapper-content-right {
    align-items: flex-end;
  }

  .wrapper-content-right select {
    align-self: flex-end;
    width: 100%;
    margin-right: 90px;
  }
}
