<div class="wrapper">
  <div class="wrapper-content-left">
    <label class="labels" for="sortBy">Trier par </label>
    <select id="sortBy" (change)="onSelectSortBy($event.target.value)">
      <option value="adresse_immeuble" selected>Adresse de l'immeuble</option>
      <option value="region_adminsitrative">Région administrative</option>
    </select>
  </div>

  <div class="wrapper-content-right">
    <label class="lab" for="number-per-page">Nombre par page </label>
    <select id="number-per-page" (change)="onSelect($event.target.value)">
      <option value="10" selected>10</option>
      <option value="25">25</option>
      <option value="50">50</option>
    </select>
  </div>
</div>
