<div *ngIf="!isRange">
  <div class="igo-col igo-col-100 igo-col-100-m">
    <md2-datepicker
      placeholder="{{'Date' | translate}}"
      container="dialog"
      format="{{format}}"
      type="{{type}}"
      [min]="min"
      [max]="max"
      [(ngModel)]="date"
      (change)="handleDateChange($event)">
    </md2-datepicker>
  </div>
</div>

<div *ngIf="isRange">
  <div class="igo-col igo-col-100">
    <md2-datepicker
      placeholder="{{'Start Date' | translate}}"
      container="dialog"
      format="{{format}}"
      type="{{type}}"
      [min]="min"
      [max]="max"
      [(ngModel)]="startDate"
      (change)="handleDateChange($event)">
    </md2-datepicker>
  </div>

  <div class="igo-col igo-col-100">
    <md2-datepicker
      placeholder="{{'End Date' | translate}}"
      container="dialog"
      format="{{format}}"
      type="{{type}}"
      [min]="min"
      [max]="max"
      [(ngModel)]="endDate"
      (change)="handleDateChange($event)">
    </md2-datepicker>
  </div>
</div>