@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme) {
  @include color($theme);
  @include density($theme);
}

@mixin color($theme) {
  app-expansion-panel-button {
    background-color: #fff;
    &:hover {
      background-color: #efefef;
    }
  }
}

@mixin density($theme) {
  $density: mat.get-density-config($theme);

  $theme: map.merge(
    $theme,
    (
      density: $density - 2
    )
  );

  app-expansion-panel-button {
    @include mat.icon-button-density($theme);
  }
}
