@import './entity-form.variables';

form {
  width: 100%;
  height: 100%;
  display: block;
}

mat-form-field {
  width: 100%;
  padding-top: 10px;
  margin: 0 $igo-margin;
}

.fadq-entity-form-fields-container {
  max-height: calc(100% - 56px);
  overflow: auto;
}

.fadq-entity-form-button-group {
  height: 36px;
  text-align: center;
  margin: 10px 0;
}
