<footer class="footer">
  <ng-template [ngIf]="!isDisplayingMap">
    <div class="footer-top">
      <div class="footer-container">
        <div class="footer-wrapper">
          <div class="footer-item links">
            <div
              id="c1910"
              class="frame frame-size-default frame-default frame-type-sqi_footer_useful_links frame-layout-default frame-background-none frame-no-backgroundimage frame-space-before-none frame-space-after-none"
            >
              <div class="frame-group-container">
                <div class="frame-group-inner">
                  <div class="frame-container frame-container-default">
                    <div class="frame-inner">
                      <header class="frame-header">
                        <h2 class="element-header">
                          <span>Liens utiles</span>
                        </h2>
                      </header>
                      <ul>
                        <li>
                          <a class="" href="/emplois" target="" title="Emplois"
                            >Emplois</a
                          >
                        </li>
                        <li>
                          <a
                            class=""
                            href="/a-propos/nous-joindre"
                            target=""
                            title="Nous joindre"
                            >Nous joindre</a
                          >
                        </li>
                        <li>
                          <a
                            class="link-externe"
                            href="https://extranet.siq.gouv.qc.ca/xnet/"
                            target="_blank"
                            title="Extranet"
                            >Extranet</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Suivez nous-->
          <div class="footer-item social-links">
            <h6>Suivez-nous</h6>
            <!--VERSION Québec.ca-->
            <div class="sociallinks-wrapper">
              <ul class="sociallinks-items">
                <li title="Facebook">
                  <a
                    href="https://www.facebook.com/sqiquebec"
                    rel="noopener"
                    target="_blank"
                    ><img
                      class="icon"
                      alt="Facebook"
                      src="/assets/images/social/Facebook.svg"
                  /></a>
                </li>
                <li title="Instagram">
                  <a
                    href="https://www.instagram.com/sqi_quebec"
                    rel="noopener"
                    target="_blank"
                    ><img
                      class="icon"
                      alt="Instagram"
                      src="/assets/images/social/Instagram.svg"
                  /></a>
                </li>
                <li title="LinkedIn">
                  <a
                    href="https://www.linkedin.com/company/societe-quebecoise-des-infrastructures"
                    rel="noopener"
                    target="_blank"
                    ><img
                      class="icon"
                      alt="LinkedIn"
                      src="/assets/images/social/LinkedIn.svg"
                  /></a>
                </li>
                <li title="YouTube">
                  <a
                    href="https://www.youtube.com/@sqivideo"
                    rel="noopener"
                    target="_blank"
                    ><img
                      class="icon"
                      alt="YouTube"
                      src="/assets/images/social/YouTube.svg"
                  /></a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Société québécoise des infrastructures -->
        <div class="footer-item right-block pb-2">
          <div class="footer-contact">
            <span>Société québécoise des infrastructures</span>
          </div>
          <div class="footer-contact">
            <h6>Siège social</h6>
            <p>Édifice Marie-Fitzbach</p>
            <p>1075, rue de l'Amérique-Française</p>
            <p>Québec (Québec) G1R 5P8</p>
          </div>
          <div class="footer-contact">
            <h6>Bureau de Montréal</h6>
            <p>Édifice Ernest-Cormier</p>
            <p>445, rue Saint-Gabriel</p>
            <p>Montréal (Québec) H2Y 3A2</p>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template [ngIf]="isDisplayingMap">
    <div class="footer-right" id="footer-id" *ngIf="!showSearchBar">
      <span class="order2">
        <span class="footer-text">
          <a
            rel="noopener noreferrer"
            alt="('externallinks' | translate)"
            href="{{ 'footer.url-conditions' | translate }}"
            target="_blank"
            >{{ 'footer.conditions' | translate }}</a
          >
        </span>
        <span class="footer-text"> | </span>
        <span class="footer-text">
          <a
            rel="noopener noreferrer"
            alt="('externallinks' | translate)"
            href="{{ 'footer.url-ministry' | translate }}"
            target="_blank"
            >{{ 'footer.ministry' | translate }}</a
          >
        </span>
        <span class="footer-text"> | </span>
        <span class="footer-text">
          <a
            rel="noopener noreferrer"
            alt="('externallinks' | translate)"
            href="{{ 'footer.url-gov' | translate }}"
            target="_blank"
            >{{ 'footer.gov' | translate }}</a
          >
        </span>
      </span>
    </div>

    <div class="footer-mobile" *ngIf="showSearchBar">
      <mat-expansion-panel (afterCollapse)="onPanelClose()">
        <mat-expansion-panel-header>
          <div class="search-bar-placeholder">
            <ng-container *ngTemplateOutlet="searchBarTemplate"></ng-container>
          </div>
        </mat-expansion-panel-header>
        <div class="sidenav-placeholder">
          <ng-container *ngTemplateOutlet="sidenavTemplate"></ng-container>
        </div>
      </mat-expansion-panel>
    </div>
  </ng-template>
</footer>
