<footer class="footer">
  <div class="container">
    <div class="group-1">
      <div class="item bigger">Liens utiles</div>
      <div class="item">Emplois</div>
      <div class="item">Nous joindre</div>
      <div class="item">Extranet</div>
    </div>
    <div class="group-2">
      <div class="item bigger">Suivez-nous</div>
      <ul class="sociallinks-items">
        <li title="Facebook">
          <a
            href="https://www.facebook.com/sqiquebec"
            rel="noopener"
            target="_blank"
            ><img class="icon" alt="Facebook" src="assets/images/Facebook.svg"
          /></a>
        </li>
        <li title="Instagram">
          <a
            href="https://www.instagram.com/sqi_quebec"
            rel="noopener"
            target="_blank"
            ><img
              class="icon"
              alt="Instagram"
              src="assets/images/Instagram.svg"
          /></a>
        </li>
        <li title="LinkedIn">
          <a
            href="https://www.linkedin.com/company/societe-quebecoise-des-infrastructures"
            rel="noopener"
            target="_blank"
            ><img class="icon" alt="LinkedIn" src="assets/images/LinkedIn.svg"
          /></a>
        </li>
        <li title="YouTube">
          <a
            href="https://www.youtube.com/@sqivideo"
            rel="noopener"
            target="_blank"
            ><img class="icon" alt="YouTube" src="assets/images/YouTube.svg"
          /></a>
        </li>
      </ul>
    </div>
    <div class="group-3"></div>
  </div>
</footer>
