.footer {
  padding: 16px 4%;
  width: 100%;
  min-height: 370px;
  height: auto;
  background-color: var(--qc-color-blue-medium);
  color: white;
}
.container {
  display: grid;
  max-width: 1314px;
  margin: auto;
  grid-template-columns: 250px 350px 1fr;
  gap: 30px;
}
.item {
  font-size: 16px;
  margin-top: 24px;
}
.bigger {
  font-size: 19px;
  font-weight: bold;
}
.sociallinks-items {
  list-style: none;
  padding-left: 0;
  display: flex;
}

.sociallinks-items li {
  margin: 16px 16px 8px 0px;
}
