@import '@igo2/core/partial/media';
@import 'variables';

$app-footer-height: 48px;
$app-mobile-min-space-right: 48px;

$app-expansion-panel-collapsed-height: 40px;
$app-expansion-panel-collapsed-width: 40px;
$app-expansion-panel-height: 281px;
$app-expansion-panel-height-maximized: 496px;
$app-expansion-panel-header-height: calc(
  #{$app-expansion-panel-collapsed-height} + 10px
);

$app-toast-panel-collapsed-height: 46px;
$app-toast-panel-collapsed-height-mobile: 35px;
$app-toast-panel-width-tablet: 500px;

$app-toast-panel-width: 42vw;
$app-toast-panel-max-width: 600px;
$app-toast-panel-height: 30vh;
$app-toast-panel-max-height: 30vh;
$app-toast-panel-height-mobile: 34vh;

$app-full-toast-panel-width: 45vw;
$app-full-toast-panel-max-height: 65vh;
$app-full-toast-panel-height-mobile: 55vh;

$app-toast-panel-html-width: 60vw;
$app-toast-panel-html-height: 32vh;

$app-toast-panel-html-large-height: 55vh;

$app-sidenav-margin-top: 48px + 5px; // Search bar height + margin-top
$app-sidenav-height: calc(100% - #{$app-sidenav-margin-top});
$app-sidenav-width: 400px;
$app-sidenav-width-mobile: calc(
  100% - #{$app-mobile-min-space-right} - #{$igo-margin}
);

$search-bar-left: $igo-icon-size + $igo-margin;
$search-bar-width: calc($app-sidenav-width - $igo-margin);
$search-bar-width-mobile: calc($app-sidenav-width-mobile - $igo-margin);

$app-footer-height: 49px;
$toast-panel-for-expansion-collapsed-height: 48px;
$toast-panel-for-expansion-max-height: 329px;
$toast-panel-for-expansion-width: 30%;

$header-height: 72px;
$header-height-mobile: 72px;
$footer-height: 29px;
