@import './portal.variables';

/*** Main ***/
:host {
  width: 100%;
  height: 100%;
  display: block;
}

.fadq-main-container {
  position: relative;
  width: 100%;
  height: calc(100% - #{$fadq-footer-height});
  background-color: #efefef;
}

/*** Menu button ***/
.fadq-menu-button {
  background-color: $fadq-background-color;
  position: absolute;
  left: $igo-margin;
  top: $igo-margin;
  z-index: 4;
  border-radius: 0;
}

.fadq-menu-button ::ng-deep div.mat-button-ripple-round  {
  border-radius: 0;
}

/*** Map browser ***/
igo-map-browser {
  width: 100%;
  height: 100%;

  igo-baselayers-switcher {
    left: initial !important;
    right: 5px;

    ::ng-deep .igo-mini-basemap-title {
      font-size: 11px;
    }
  }
}

/*** Search bar ***/
igo-search-bar {
  background-color: $fadq-background-color;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  position: absolute;
  left: $search-bar-left;
  top: $igo-margin;
  z-index: 4;
  width: $search-bar-width;
  height: $igo-icon-size;
  margin: 0 $igo-margin;

  @include mobile {
    width: $search-bar-width-mobile
  }
}

/*** Attribution ***/
igo-map-browser.sidenav-offset ::ng-deep .ol-attribution {
  left: 410px;
  @include mobile {
    left: $igo-padding
  }
}

igo-map-browser.igo-attribution-offset.sidenav-offset ::ng-deep .ol-attribution {
  left: 495px;
  @include mobile {
    left: 90px;
  }
}

/***Layers list ***/
::ng-deep .igo-layer-actions-container > .igo-col {
  /* Make the slider smaller and align it with the action buttons */
  float: left;
  width: 25%;
  padding-left: 20px;
}

::ng-deep .igo-layer-actions-container .igo-col:nth-child(2) {
  /*Align the action buttons with the slider */
  float: right;
  width: 75%;
}

/*** Footer ***/
.fadq-footer {
  @extend %box-shadowed;
  position: relative;
  bottom: 0;
  z-index: 2;
  background-color: #fff;
  width: 100%;
  height: $fadq-footer-height;
  border-top:1px solid #ddd;
}

.fadq-footer fadq-map-actionbar {
  position: absolute;
  right: 0;
  // right: calc(#{$fadq-baselayers-switcher-width} + 5px);
}

.fadq-footer igo-baselayers-switcher {
  position: absolute;
  right: 5px;
  padding: 8px 3px;

  ::ng-deep {
    .igo-baselayers-switcher-container {
      height: $fadq-baselayers-switcher-height !important;
      width: $fadq-baselayers-switcher-width;    
    }

    .igo-mini-basemap-container {
      height: 100%;
      width: 100%;
      box-shadow: initial;
      margin-top: 0;
    }

    .igo-mini-basemap-title {
      display: none;
    }

    .ol-viewport {
      border: 1px solid #ddd;
    }
  }
}

/*** Expansion panel ***/
fadq-expansion-panel {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 4;
  overflow: hidden;
}

fadq-expansion-panel.fadq-expansion-panel-expanded {
  margin-bottom: $fadq-footer-height;
}

fadq-expansion-panel:not(.fadq-expansion-panel-expanded) {
  @include small-screen {
    fadq-editor-selector,
    fadq-actionbar {
      display: none;
    }
  }

  @include tablet {
    fadq-editor-selector,
    fadq-actionbar {
      display: none;
    }
  }

  @include mobile {
    fadq-editor-selector,
    fadq-actionbar {
      display: none;
    }
  }
}

fadq-expansion-panel {
  fadq-editor-selector {
    width: calc(#{$fadq-sidenav-width} - #{$igo-icon-size} - 20px)
  }

  @include mobile {
    fadq-editor-selector {
      width: calc(#{$fadq-sidenav-width} - (2 * #{$igo-icon-size}) - 20px);
    }
  }

  igo-actionbar {
    margin-left: 5px;
  }
}

/*** Info panel ***/
fadq-toast-panel {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  z-index: 4;

  @include medium-screen {
    width: 480px;
    margin-left: -240px;
  }

  @include small-screen {
    width: 480px;
    margin-left: -240px;
  }

  @include tablet {
    width: calc(100% - 2 * #{$fadq-footer-height});
    left: $fadq-footer-height;
    margin-left: 0;
  }

  @include mobile {
    width: calc(100% - 2 * #{$fadq-footer-height});
    left: $fadq-footer-height;
    margin-left: 0;
  }
}

fadq-toast-panel.fadq-toast-panel-opened {
  @include mobile {
    width: 100%;
    left: 0;
  }
}
