<mat-sidenav-container class="fadq-main-container">

  <igo-backdrop
    [shown]="backdropShown"
    (click)="onBackdropClick()">
  </igo-backdrop>

  <button
    mat-icon-button
    id="menu-button"
    class="fadq-menu-button"
    color="primary"
    tooltip-position="below"
    matTooltipShowDelay="500"
    [matTooltip]="(sidenavOpened ? 'menu.close' : 'menu.open') | translate"
    (click)="onToggleSidenavClick()">
    <mat-icon>
      <ng-container>menu</ng-container>
    </mat-icon>
  </button>

  <igo-search-bar
    (change)="onSearchTermChange($event)"
    (search)="onSearch($event)">
  </igo-search-bar>

  <fadq-sidenav
    [ngClass]="{'fadq-sidenav-with-expansion-panel': expansionPanelExpanded}"
    [(opened)]="sidenavOpened">
  </fadq-sidenav>

  <igo-map-browser
    igoQuery
    [waitForAllQueries]="true"
    igoMapContext
    igoLayerContext
    igoDropGeoFile
    [map]="map"
    (query)="onMapQuery($event)">
  </igo-map-browser>
</mat-sidenav-container>

<div class="fadq-footer">
  <fadq-map-actionbar
    [map]="map"
    [mode]="mapActionbarMode"
    [withTitle]="mapActionbarWithTitle">
  </fadq-map-actionbar>
</div>

<fadq-expansion-panel
  [(expanded)]="expansionPanelExpanded"
  [backdropShown]="expansionPanelBackdropShown">

  <ng-container expansionPanelHeader>
    <fadq-editor-selector [store]="editorStore"></fadq-editor-selector>
    <igo-actionbar
      *ngIf="editor" 
      [store]="editor.actionStore"
      [horizontal]="true"
      [xPosition]="'after'"
      [yPosition]="'above'"
      [overlayClass]="'fadq-expansion-panel-actionbar-overlay'"
      [withToggleButton]="true"
      [withTitle]="actionbarWithTitle"
      [mode]="actionbarMode">
    </igo-actionbar>
  </ng-container>

  <igo-entity-table
    *ngIf="editor"
    class="table-compact table-centered"
    [store]="editor.entityStore"
    [template]="editor.tableTemplate">
  </igo-entity-table>

</fadq-expansion-panel>

<fadq-toast-panel
  [title]="toastPanelTitle"
  [withHeader]="toastPanelContent === 'feature'"
  [(opened)]="toastPanelOpened">

  <igo-feature-details
    *ngIf="toastPanelContent === 'feature'"
    [feature]="searchResult.data">
  </igo-feature-details>

  <fadq-editor-outlet
    *ngIf="toastPanelContent === 'editor'"
    [editor]="editor"
    (deactivateWidget)="onDeactivateEditorWidget()">
  </fadq-editor-outlet>

</fadq-toast-panel>
