<mat-sidenav-container class="fadq-main-container">

  <igo-backdrop
    [shown]="backdropShown"
    (click)="closeSidenav()">
  </igo-backdrop>

  <button
    mat-icon-button
    id="menu-button"
    class="fadq-menu-button"
    color="primary"
    tooltip-position="below"
    matTooltipShowDelay="500"
    [matTooltip]="(sidenavOpened ? 'menu.close' : 'menu.open') | translate"
    (click)="toggleSidenav()">
    <mat-icon>
      <ng-container>menu</ng-container>
    </mat-icon>
  </button>

  <fadq-search-bar [store]="searchStore"></fadq-search-bar>

  <fadq-sidenav
    [(opened)]="sidenavOpened"
    [tool]="tool$ | async">
  </fadq-sidenav>

  <igo-map-browser
    igoQuery
    igoMapContext
    igoLayerContext
    igoDropGeoFile
    igoMapBrowserBinding
    [map]="map"
    (query)="handleQueryResults($event)">
  </igo-map-browser>
</mat-sidenav-container>

<div class="fadq-footer">
  <fadq-map-widgetbar [map]="map"></fadq-map-widgetbar>
</div>

<fadq-expansion-panel
  [(expanded)]="expansionPanelExpanded"
  [backdropShown]="expansionPanelBackdropShown">
  <ng-container *ngIf="editor$ | async as editor">
    <fadq-entity-table
      class="table-compact"
      [store]="editor.data.dataStore"
      [model]="editor.data.tableModel">
    </fadq-entity-table>
  </ng-container>
</fadq-expansion-panel>

<fadq-info-panel
  [(opened)]="infoPanelOpened"
  [entities]="focusedSearchEntities$ | async">
</fadq-info-panel>
