@require '../../../style/var.styl';
@require '../../../style/media.styl';

/*** Main ***/
:host {
  width: 100%;
  height: 100%;
  display: block;
}

md-sidenav-container {
  height: 100%;
  width: 100%;
}

/*** Menu button ***/

#menu-button {
  background-color: $igo-background-color;
  position: absolute;
  left: $igo-sidenav-width;
  top: $igo-margin;
  z-index: 2;

  +media(tablet) {
    left: $igo-sidenav-width-tablet;
  }

  +media(mobile) {
    right: $igo-margin;
    left: inherit;
  }
}

#menu-button,
#menu-button >>> .mat-button-ripple-round {
  border-radius: 0;
}

/*** Map browser ***/
igo-map-browser {
  width: 100%;
  height: 100%;
}

/*** Search bar ***/
igo-search-bar {
  position: absolute;
  left: 0;
  top: $igo-margin;
  z-index: 4;
  width: "calc(%s - 2 * %s)" % ($igo-sidenav-width $igo-margin);
  margin: 0 $igo-margin;

  +media(tablet) {
    width: "calc(%s - 2 * %s)" % ($igo-sidenav-width-tablet $igo-margin);
  }

  +media(mobile) {
    width: "calc(100% - %s - (3 * %s))" % ($igo-mobile-min-space-left $igo-margin);
  }
}

igo-search-bar {
  background-color: $igo-background-color;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

igo-search-bar >>> input {
  height: $igo-icon-button-height;
}

igo-search-bar >>> .mat-input-wrapper {
  padding: 0;
}

igo-search-bar >>> label.mat-input-placeholder.mat-float:not(.mat-empty),
igo-search-bar >>> md-form-field.mat-focused >>> label.mat-input-placeholder.mat-float {
  display: none;
}

igo-search-bar >>> label.mat-input-placeholder.mat-float {
  top: 25px;
}

igo-search-bar >>> .mat-input-infix {
  border: none;
  padding: 0;
}

igo-search-bar >>> .mat-input-underline {
  top: 44px;
}

igo-search-bar >>> .mat-input-placeholder-wrapper {
  left: $igo-padding;
  right: $igo-padding;
  padding: 13px 0;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  width: auto;
}

igo-search-bar >>> .mat-input-element {
  padding-left: 10px;
  padding-right: $igo-icon-button-width;
}

/*** Toast ***/
app-toast {
  position: absolute;
  bottom: 0px;
  width: 100%;
  max-height: "calc(100% - %s)" % ($igo-sidenav-margin-top);
  background-color: $igo-background-color;
}

igo-map-browser.toast-shown-offset >>> .ol-attribution {
  +media(mobile) {
    bottom: 55px;
  }
}

igo-map-browser.toast-opened-offset >>> .ol-attribution {
  +media(mobile) {
    bottom: 305px;
  }
}

igo-map-browser.sidenav-offset >>> .ol-attribution {
  left: 410px;
  +media(mobile) {
    left: $igo-padding
  }
}

igo-map-browser.igo-attribution-offset.sidenav-offset >>> .ol-attribution {
  left: 495px;
  +media(mobile) {
    left: 90px;
  }
}
