@import './portal.variables';

/*** Main ***/
:host {
  width: 100%;
  height: 100%;
  display: block;
}

/*** Menu button ***/

.menu-button {
  background-color: $app-background-color;
  position: absolute;
  left: $igo-margin;
  top: $igo-margin;
  z-index: 4;
  border-radius: 0;
}

.menu-button ::ng-deep div.mat-button-ripple-round {
  border-radius: 0;
}

/*** Map browser ***/
igo-map-browser {
  width: 100%;
  height: 100%;
}

igo-map-browser ::ng-deep .ol-overlaycontainer-stopevent {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

igo-map-browser.sidenav-offset ::ng-deep .ol-overlaycontainer-stopevent {
  left: 380px;
  width: calc(100% - 380px);
}

igo-map-browser.expansion-offset ::ng-deep .ol-overlaycontainer-stopevent {
  bottom: 279px;
}

/*** Search bar ***/
igo-search-bar {
  background-color: $app-background-color;
  font-size: 16px;
  position: absolute;
  left: $search-bar-left;
  top: $igo-margin;
  z-index: 4;
  width: $search-bar-width;
  height: $igo-icon-size;
  margin: 0 $igo-margin;

  @include mobile {
    width: $search-bar-width-mobile;
  }
}

/*** Sidenav ***/
mat-sidenav-container {
  height: 100%;
  width: 100%;
  background-color: #efefef;
  z-index: 5;
  display: unset;
}

/*** Expansion Panel ***/
app-expansion-panel {
  position: absolute;
  bottom: 0;
  z-index: 4;
  overflow: hidden;
}

/*** Toast Panel ***/
app-toast-panel {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  z-index: 4;

  @include mobile {
    width: calc(100% - #{$app-footer-height});
    left: $app-footer-height;
    margin-left: 0;
  }
}

app-toast-panel.expansion-panel-expanded,
app-toast-panel:not(.has-expansion-panel),
app-toast-panel.app-toast-panel-opened {
  @include mobile {
    width: 100%;
    left: 0;
  }
}

igo-geolocate-button {
  margin-bottom: 90px;
}
