@import '~@igo2/core/style/partial/media';
@import 'variables';

$app-footer-height: 48px;
$app-mobile-min-space-right: 40px;

$app-expansion-panel-collapsed-height: 48px;
$app-expansion-panel-collapsed-width: 52px;
$app-expansion-panel-height: 281px;
$app-expansion-panel-header-height: $app-expansion-panel-collapsed-height;

$app-toast-panel-collapsed-height: 48px;
$app-toast-panel-max-height: 281px;
$app-toast-panel-width: 30%;

$app-sidenav-margin-top: 50px;
$app-sidenav-height: calc(100% - #{$app-sidenav-margin-top});
$app-sidenav-width: 400px;
$app-sidenav-width-mobile: calc(100% - #{$app-mobile-min-space-right} - #{$igo-margin});

$igo-toast-panel-collapsed-height: 48px;
$igo-toast-panel-max-height: 300px;
$igo-toast-panel-width: 30%;

$search-bar-left: calc(#{$igo-icon-size} + #{$igo-margin});
$search-bar-width: calc(#{$app-sidenav-width} - #{$search-bar-left} - (2 * #{$igo-margin}));
$search-bar-width-mobile: calc(100% - #{$app-mobile-min-space-right} - #{$search-bar-left} - (3 * #{$igo-margin}));
