@import './portal.variables';


/*** Main ***/
:host {
  width: 100%;
  height: 100%;
  display: block;
}

.fadq-main-container {
  position: relative;
  width: 100%;
  height: calc(100% - #{$fadq-footer-height});
  background-image: linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 50%, #ccc 50%, #ccc 75%, transparent 75%, #fff);
  background-size: 5px 5px;
}


/*** Menu button ***/
.fadq-menu-button {
  background-color: $fadq-background-color;
  position: absolute;
  left: $igo-margin;
  top: $igo-margin;
  z-index: 4;
  border-radius: 0;
}

.fadq-menu-button ::ng-deep div.mat-button-ripple-round  {
  border-radius: 0;
}


/*** Map browser ***/
igo-map-browser {
  width: 100%;
  height: 100%;
}


/*** Search bar ***/
fadq-search-bar {
  background-color: $fadq-background-color;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  position: absolute;
  left: $search-bar-left;
  top: $igo-margin;
  z-index: 4;
  width: $search-bar-width;
  height: $igo-icon-size;
  margin: 0 $igo-margin;

  @include mobile {
    width: $search-bar-width-mobile
  }
}

/*** Attribution ***/
igo-map-browser.sidenav-offset ::ng-deep .ol-attribution {
  left: 410px;
  @include mobile {
    left: $igo-padding
  }
}

igo-map-browser.igo-attribution-offset.sidenav-offset ::ng-deep .ol-attribution {
  left: 495px;
  @include mobile {
    left: 90px;
  }
}


/***Layers list ***/
::ng-deep .igo-layer-actions-container > .igo-col {
  /* Make the slider smaller and align it with the action buttons */
  float: left;
  width: 25%;
  padding-left: 20px;
}

::ng-deep .igo-layer-actions-container .igo-col:nth-child(2) {
  /*Align the action buttons with the slider */
  float: right;
  width: 75%;
}

/*** Footer ***/
.fadq-footer {
  position: relative;
  background-color: #eee;
  width: 100%;
  height: $fadq-footer-height;
}

.fadq-footer fadq-map-toolbar {
  position: absolute;
  right: 0;

  @include mobile {
    display: none;
  }
}

/*** Expansion panel ***/
fadq-expansion-panel {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 4;
  overflow: hidden;
}

fadq-expansion-panel.fadq-expansion-panel-expanded {
  margin-bottom: $fadq-footer-height;
}

/*** Info panel ***/
fadq-info-panel {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -15%;
  width: 30%;
  z-index: 4;

  @include mobile {
    width: calc(100% - 2 * #{$fadq-footer-height});
    left: $fadq-footer-height;
    margin-left: 0;
  }
}

fadq-info-panel.fadq-info-panel-opened {
  @include mobile {
    width: 100%;
    left: 0;
  }
}