@import './sidenav/sidenav.theming';
@import './welcome-window/welcome-window.theming';

@mixin app-portal-theming($theme) {
  @include app-sidenav-theming($theme);
  @include igo-welcome-window-theming($theme);
  $primary: map-get($theme, primary);

  .menu-button-reverse-color-close {
    background-color: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }

  .menu-button-reverse-color {
    background-color: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }

  .menu-button {
    color: mat-color($primary);
  }
}
