@use '@angular/material' as mat;

@import './portal.variables';

:host {
  width: 100%;
  height: 100%;
  display: block;
}

.navbar-container {
  $navbarSpacer: 4px;

  position: absolute;
  left: $navbarSpacer;
  top: $navbarSpacer;
  display: flex;
  width: $search-bar-width;
  max-width: $search-bar-width;
  z-index: 4;

  @include mobile {
    width: $search-bar-width-mobile;
    max-width: $search-bar-width;
  }

  igo-search-bar {
    flex: 1;
    background-color: $app-background-color;
    font-size: 16px;
    margin-left: $igo-margin;
  }

  igo-menu-button {
    transition: margin-left 300ms;
  }

  &.--empty-spacer {
    igo-menu-button {
      margin-left: -$navbarSpacer;
    }

    igo-search-bar {
      margin-left: 0;
    }
  }
}

.workspace-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.workspace-actions {
  display: flex;
  align-items: center;
}

#tour-button {
  font-weight: bold;
  position: absolute;
  left: $igo-margin;
  top: 50px;
  z-index: 4;
}
.tour-button-title {
  @include mobile {
    display: none;
  }
}

/*** Menu button ***/
mat-icon.disabled {
  color: rgba(0, 0, 0, 0.38);
}

/*** Map browser ***/
igo-map-browser {
  width: 100%;
  height: 100%;
}

igo-map-browser ::ng-deep .ol-attribution {
  left: 50px;
  bottom: $igo-margin;
  text-align: left;
  padding: 0;
  margin-right: 90px;
  background-color: rgba(255, 255, 255, 0);
  width: calc(100% - 500px);

  &.ol-logo-only {
    height: inherit;
  }
  &.ol-collapsed {
    background: none;
    button {
      transform: none;
    }
  }
  button {
    transform: rotate(180deg);
    background-color: white;
    cursor: pointer;
  }
  &.ol-uncollapsible {
    height: auto;
  }
  ul {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 2px 0.5em;
  }
}

igo-map-browser.has-expansion-panel igo-baselayers-switcher {
  bottom: 47px;
}

igo-map-browser.sidenav-offset-baselayers igo-baselayers-switcher {
  left: 405px;
}

igo-map-browser ::ng-deep .ol-overlaycontainer-stopevent {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

igo-map-browser.sidenav-offset ::ng-deep .ol-overlaycontainer-stopevent {
  left: 400px;
  width: calc(100% - 380px);

  .ol-scale-line {
    left: 40%;
  }

  @include mobile {
    display: none;
  }
}

igo-map-browser.expansion-offset ::ng-deep .ol-overlaycontainer-stopevent {
  bottom: $app-expansion-panel-height;
}

igo-map-browser.expansion-offset-maximized
  ::ng-deep
  .ol-overlaycontainer-stopevent {
  bottom: $app-expansion-panel-height-maximized;
}

igo-map-browser.toast-offset-scale-line
  ::ng-deep
  .ol-overlaycontainer-stopevent
  ::ng-deep
  .ol-scale-line {
  bottom: 50px;
}

igo-map-browser.toast-offset-attribution
  ::ng-deep
  .ol-overlaycontainer-stopevent
  ::ng-deep
  .ol-attribution {
  @include mobile {
    bottom: 50px;
  }
}

/*** Sidenav ***/
mat-sidenav-container {
  height: 100%;
  width: 100%;
  background-color: #efefef;
  z-index: 5;
  display: unset;
}

mat-sidenav-content {
  @include mobile {
    z-index: auto;
  }
}

/*** Expansion Panel ***/
.spacer {
  flex: 1 1 auto;
}

igo-workspace-selector {
  @include mobile {
    width: 100px;
  }
}

igo-entity-table-paginator {
  position: absolute;
  right: 0;
  @include mobile {
    margin-left: -30px;
  }
}
igo-entity-table-paginator ::ng-deep .mat-mdc-paginator-range-label {
  @include mobile {
    margin: 10px 1px 0px 20px;
  }
}

igo-entity-table ::ng-deep td.mat-column-edition {
  display: flex;
  height: 100%;
  align-items: center;
}

app-expansion-panel {
  position: absolute;
  bottom: 0;
  z-index: 5;

  @include mobile {
    @supports (-webkit-appearance: none) and (not (overflow: -webkit-marquee))
      and (not (-ms-ime-align: auto)) and (not (-moz-appearance: none)) {
      z-index: 5;
    }
  }
}

/*** Toast Panel ***/
app-toast-panel {
  position: absolute;
  left: 50%;
  margin-left: -300px;
  max-width: fit-content;
  z-index: 5;
  outline: none;

  @include mobile {
    left: $app-footer-height;
    margin-left: 0;
    min-width: 100%;
  }

  @include tablet {
    max-width: inherit;
    left: calc(50% + 60px);
  }
}

// Reduce max-height for info panel in mobile when expansion-workspace is open
app-expansion-panel.app-expansion-panel-expanded
  + app-toast-panel-for-expansion
  + app-toast-panel
  ::ng-deep
  > div
  ::ng-deep
  igo-panel.app-full-toast-panel-opened,
app-expansion-panel.app-expansion-panel-expanded
  + app-toast-panel-for-expansion
  + app-toast-panel
  ::ng-deep
  > div
  ::ng-deep
  igo-panel.app-toast-panel-html-large,
app-expansion-panel.app-expansion-panel-expanded
  + app-toast-panel-for-expansion
  + app-toast-panel
  ::ng-deep
  igo-panel.app-full-toast-panel-opened,
app-expansion-panel.app-expansion-panel-expanded
  + app-toast-panel-for-expansion
  + app-toast-panel
  ::ng-deep
  igo-panel.app-toast-panel-html-large {
  @include mobile {
    max-height: 50vh;

    .toast-content {
      max-height: calc(50vh - 8vh);
    }
  }
}

// Reduce height-max when expansion-workspace is max + infopanel is max
app-expansion-panel.app-expansion-panel-expanded-maximized
  + app-toast-panel-for-expansion
  + app-toast-panel
  ::ng-deep
  > igo-panel {
  max-height: 45vh;
  .toast-content {
    max-height: 40vh;
  }

  @include tablet {
    max-height: 30vh;
    .toast-content {
      max-height: calc(30vh - 6vh);
    }
  }
}

app-expansion-panel.app-expansion-panel-expanded-maximized
  + app-toast-panel-for-expansion
  + app-toast-panel
  ::ng-deep
  > igo-panel.app-toast-panel-html {
  height: 30vh;
}

app-expansion-panel.app-expansion-panel-expanded-maximized
  + app-toast-panel-for-expansion
  + app-toast-panel
  ::ng-deep
  > igo-panel.app-toast-panel-opened {
  height: auto;
  max-height: 30vh;
  .toast-content {
    max-height: 25vh;
  }
}

app-toast-panel.expansion-panel-expanded,
app-toast-panel:not(.has-expansion-panel),
app-toast-panel.app-toast-panel-opened {
  bottom: 0;

  @include mobile {
    left: 0;
  }
}

igo-offline-button {
  margin-bottom: 128px;

  @include mobile {
    margin-bottom: 45px;
  }
  @include tablet {
    margin-bottom: 45px;
  }
}

igo-geolocate-button {
  margin-bottom: 85px;

  @include mobile {
    margin-bottom: 0px;
  }
  @include medium-screen {
    margin-bottom: 0px;
  }
  @include small-screen {
    margin-bottom: 0px;
  }
}

igo-home-extent-button {
  @include mobile {
    margin-bottom: 0px;
    right: calc((2 * #{$igo-icon-size}) + (4 * #{$igo-margin}));
  }
  @include tablet {
    margin-bottom: 0px;
    right: calc((2 * #{$igo-icon-size}) + (4 * #{$igo-margin}));
  }
}

igo-zoom-button {
  ::ng-deep button {
    @include mat.elevation(2);
  }

  @include medium-screen {
    display: none;
  }
  @include small-screen {
    display: none;
  }
}

/*** Info panel ***/
app-toast-panel-for-expansion {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  z-index: 6;

  @include medium-screen {
    width: 480px;
    margin-left: -240px;
  }

  @include small-screen {
    width: 480px;
    margin-left: -240px;
  }

  @include tablet {
    width: calc(100% - 2 * #{$app-footer-height});
    left: $app-footer-height;
    margin-left: 0;
  }

  @include mobile {
    width: calc(100% - 2 * #{$app-footer-height});
    left: $app-footer-height;
    margin-left: 0;
  }
}

toast-panel-for-expansion.toast-panel-for-expansion-opened {
  @include mobile {
    width: 100%;
    left: 0;
  }
}

.mat-mdc-table thead mat-header-row .mat-mdc-table-sticky {
  background: none;
}

/*** Info panel close/open buttons ***/
app-toast-panel-for-expansion
  .toast-panel-for-expansion-close-button-container {
  position: absolute;
  top: -10px;
  right: -15px;
  z-index: 6;
  padding: 5px;

  button {
    height: 24px;
    line-height: 24px;
  }
}

.add-feature {
  margin-top: 5px;
}

.actionbar-workspace {
  padding-left: 0px;
}

::ng-deep div.workspace-menu {
  max-width: fit-content !important;
  div.mat-mdc-menu-content ::ng-deep span.mat-checkbox-label,
  div.mat-mdc-menu-content ::ng-deep div.mdc-list-item__primary-text {
    font-size: 12px;
  }
}
