.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 8px;
  margin-right: 16px;
}

.header-container button {
  border: none;
  background-color: white;
  margin-top: 10px;
  cursor: pointer;
}

.table-container {
  margin-right: 55px;
}

.circle-container {
  width: 20px;
  text-align: center;
  vertical-align: top;
}

.text-container {
  text-align: left;
  word-break: break-word;
  vertical-align: top;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
}

.z-royal-blue {
  background-color: Crimson;
  border: 3px solid white;
}

.z-lime-green {
  background-color: DeepSkyBlue;
  border: 3px solid white;
}

.z-crimson {
  background-color: Gold;
  border: 3px solid white;
}

.z-gold {
  background-color: ForestGreen;
  border: 3px solid white;
}

.z-dim-gray {
  background-color: SlateBlue;
  border: 3px solid white;
}

.z-tomato {
  background-color: OrangeRed;
  border: 3px solid white;
}

.z-medium-purple {
  background-color: PaleVioletRed;
  border: 3px solid white;
}

.z-dark-olive-green {
  background-color: MidnightBlue;
  border: 3px solid white;
}

.z-medium-turquoise {
  background-color: LightSeaGreen;
  border: 3px solid white;
}

.z-dark-red {
  background-color: LightCoral;
  border: 3px solid white;
}

.z-cyan {
  background-color: SandyBrown;
  border: 3px solid white;
}

.z-peach-puff {
  background-color: MediumOrchid;
  border: 3px solid white;
}

.z-dark-slate-gray {
  background-color: SpringGreen;
  border: 3px solid white;
}

.z-medium-orchid {
  background-color: DarkMagenta;
  border: 3px solid white;
}

td {
  padding: 3px;
}

.sideresult-closed {
  left: 0 !important;
  float: right;
}

.igo-panel-title {
  margin-top: 8px;
  font-size: 18px;
  color: #095797 !important;
  text-align: center;
}

.feature-info {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 90%;
  flex-wrap: wrap;
}

.mat-icon,
mat-button-wrapper,
.mat-icon-button .mat-icon,
.mat-icon-button {
  line-height: 26px;
  height: 24px;
  width: 24px;
  float: right;
}

.mat-icon svg {
  height: 20px;
  width: 20px;
}

@media (max-width: 822px) {
  br {
    display: none;
  }
}
