<div id="legend">

  <button
    mat-icon-button
    [matTooltip]="'legend.legendClose' | translate"
    color="primary"
    (click)="closePanelLegend()">
    <mat-icon svgIcon="close"></mat-icon>
  </button>
  <h4 mat-dialog-title>{{ 'legend.legendButton' | translate }}</h4>

  <!--
<igo-layer-legend-list
  [layers]="mapLayersShownInLegend"
  [excludeBaseLayers]="true"
  [allowShowAllLegends]="false"
  [updateLegendOnResolutionChange]="true"
  [showAllLegendsValue]="false"
  [layers]="layers">{{layers}}
</igo-layer-legend-list>
-->

  <table>
    <tr>
      <td><span class="circle z-royal-blue"></span></td>
      <td style="width:350px">DIATNQ</td>
    </tr>
    <tr>
      <td><span class="circle z-lime-green"></span></td>
      <td style="width:350px">DIBSLGIM</td>
    </tr>
    <tr>
      <td><span class="circle z-crimson"></span></td>
      <td style="width:350px">DICVM</td>
    </tr>
    <tr>
      <td><span class="circle z-gold"></span></td>
      <td style="width:350px">DICVQ</td>
    </tr>
    <tr>
      <td><span class="circle z-dim-gray"></span></td>
      <td style="width:350px">DIEM</td>
    </tr>
    <tr>
      <td><span class="circle z-tomato"></span></td>
      <td style="width:350px">DILLL</td>
    </tr>
    <tr>
      <td><span class="circle z-medium-purple"></span></td>
      <td style="width:350px">DIMCQ</td>
    </tr>
    <tr>
      <td><span class="circle z-dark-olive-green"></span></td>
      <td style="width:350px">DINM</td>
    </tr>
    <tr>
      <td><span class="circle z-medium-turquoise"></span></td>
      <td style="width:350px">DINQ</td>
    </tr>
    <tr>
      <td><span class="circle z-dark-red"></span></td>
      <td style="width:350px">DIO</td>
    </tr>
    <tr>
      <td><span class="circle z-cyan"></span></td>
      <td style="width:350px">DISLSJCN</td>
    </tr>
    <tr>
      <td><span class="circle z-peach-puff"></span></td>
      <td style="width:350px">DISM</td>
    </tr>
    <tr>
      <td><span class="circle z-dark-slate-gray"></span></td>
      <td style="width:350px">DISQ</td>
    </tr>
    <tr>
      <td><span class="circle z-medium-orchid"></span></td>
      <td style="width:350px">Autre</td>
    </tr>
  </table>
</div>
