<ng-container
  class = "featureInfo">

  <br/>

  <button
    class="clear-button sideresult-closed"
    mat-icon-button
    igoStopPropagation
    (click)="clearButton()"
    color="primary">
    <mat-icon svgIcon="close"></mat-icon>
  </button>

  <h3 class="igo-panel-title">{{ 'legend.legendButton' | translate }}</h3>

  <table>
    <tr>
      <td><span class="circle z-royal-blue"></span></td>
      <td style="width:350px">Direction immobilière Abitibi-Témiscamingue, Nord-du-Québec</td>
    </tr>
    <tr>
      <td><span class="circle z-lime-green"></span></td>
      <td style="width:350px">Direction immobilière Bas-St-Laurent, Gaspésie-Îles</td>
    </tr>
    <tr>
      <td><span class="circle z-crimson"></span></td>
      <td style="width:350px">Direction immobilière Centre-ville de Montréal NS</td>
    </tr>
    <tr>
      <td><span class="circle z-gold"></span></td>
      <td style="width:350px">Direction immobilière Centre-ville de Québec</td>
    </tr>
    <tr>
      <td><span class="circle z-dim-gray"></span></td>
      <td style="width:350px">Direction immobilière Estrie et Montérégie</td>
    </tr>
    <tr>
      <td><span class="circle z-tomato"></span></td>
      <td style="width:350px">Direction immobilière Laval Laurentides Lanaudière</td>
    </tr>
    <tr>
      <td><span class="circle z-medium-purple"></span></td>
      <td style="width:350px">Direction immobilière Mauricie et Centre-du-Québec</td>
    </tr>
    <tr>
      <td><span class="circle z-dark-olive-green"></span></td>
      <td style="width:350px">Direction immobilière Nord de Montréal</td>
    </tr>
<!--
    <tr>
      <td><span class="circle z-medium-turquoise"></span></td>
      <td style="width:350px">DINQ</td>
    </tr>
-->
    <tr>
      <td><span class="circle z-dark-red"></span></td>
      <td style="width:350px">Direction immobilière Outaouais</td>
    </tr>
    <tr>
      <td><span class="circle z-cyan"></span></td>
      <td style="width:350px">Direction immobilière Saguenay-Lac-Saint-Jean, Côte-Nord</td>
    </tr>
<!--
    <tr>
      <td><span class="circle z-peach-puff"></span></td>
      <td style="width:350px">DISM</td>
    </tr>
-->
    <tr>
      <td><span class="circle z-dark-slate-gray"></span></td>
      <td style="width:350px">Direction immobilière Sud de Québec</td>
    </tr>
<!--
    <tr>
      <td><span class="circle z-medium-orchid"></span></td>
      <td style="width:350px">Autre</td>
    </tr>
-->
  </table>

</ng-container>
