<ng-container class="featureInfo">
  <br />

  <div class="header-container">
    <h3 class="igo-panel-title">{{ 'legend.legendButton' | translate }}</h3>
    <button
      class="clear-button sideresult-closed"
      mat-icon-button
      igoStopPropagation
      (click)="clearButton()"
      color="primary"
    >
      <mat-icon svgIcon="close"></mat-icon>
    </button>
  </div>

  <div class="table-container">
    <table>
      <tr>
        <td class="circle-container">
          <span class="circle z-royal-blue"></span>
        </td>
        <td class="text-container">
          Direction immobilière Abitibi-Témiscamingue, Nord-du-Québec
        </td>
      </tr>
      <tr>
        <td class="circle-container">
          <span class="circle z-lime-green"></span>
        </td>
        <td class="text-container">
          Direction immobilière Bas-St-Laurent, Gaspésie-Îles
        </td>
      </tr>
      <tr>
        <td class="circle-container"><span class="circle z-crimson"></span></td>
        <td class="text-container">
          Direction immobilière Centre-ville de Montréal NS
        </td>
      </tr>
      <tr>
        <td class="circle-container"><span class="circle z-gold"></span></td>
        <td class="text-container">
          Direction immobilière Centre-ville de Québec
        </td>
      </tr>
      <tr>
        <td class="circle-container">
          <span class="circle z-dim-gray"></span>
        </td>
        <td class="text-container">
          Direction immobilière Estrie et Montérégie
        </td>
      </tr>
      <tr>
        <td class="circle-container"><span class="circle z-tomato"></span></td>
        <td class="text-container">
          Direction immobilière Laval Laurentides Lanaudière
        </td>
      </tr>
      <tr>
        <td class="circle-container">
          <span class="circle z-medium-purple"></span>
        </td>
        <td class="text-container">
          Direction immobilière Mauricie et Centre-du-Québec
        </td>
      </tr>
      <tr>
        <td class="circle-container">
          <span class="circle z-dark-olive-green"></span>
        </td>
        <td class="text-container">Direction immobilière Nord de Montréal</td>
      </tr>
      <!--
      <tr>
        <td class="circle-container"><span class="circle z-medium-turquoise"></span></td>
        <td class="text-container">DINQ</td>
      </tr>
  -->
      <tr>
        <td class="circle-container">
          <span class="circle z-dark-red"></span>
        </td>
        <td class="text-container">Direction immobilière Outaouais</td>
      </tr>
      <tr>
        <td class="circle-container"><span class="circle z-cyan"></span></td>
        <td class="text-container">
          Direction immobilière Saguenay-Lac-Saint-Jean, Côte-Nord
        </td>
      </tr>
      <!--
      <tr>
        <td class="circle-container"><span class="circle z-peach-puff"></span></td>
        <td class="text-container">DISM</td>
      </tr>
  -->
      <tr>
        <td class="circle-container">
          <span class="circle z-dark-slate-gray"></span>
        </td>
        <td class="text-container">Direction immobilière Sud de Québec</td>
      </tr>
      <!--
      <tr>
        <td class="circle-container"><span class="circle z-medium-orchid"></span></td>
        <td class="text-container">Autre</td>
      </tr>
  -->
    </table>
  </div>
</ng-container>
