
<form class="igo-form">

  <div class="igo-input-container">
    <mat-form-field>
      <mat-select
        placeholder="{{'navigation.placeSelector.category.placeholder' | translate}}"
        [value]="selectedCategory"
        (selectionChange)="selectCategory($event.value)">
        <mat-option *ngFor="let category of categories" [value]="category">
          {{category.title | translate}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="selectedCategory !== undefined">
      <input
        matInput
        type="text"
        [placeholder]="selectedCategory.title | translate"
        [matAutocomplete]="auto"
        [formControl]="placeControl">
      <mat-autocomplete
        #auto="matAutocomplete"
        [displayWith]="displayPlace"
        (optionSelected)="selectPlace($event.option.value)">
        <mat-option *ngFor="let place of filteredPlaces$ | async" [value]="place">
          {{ place.title }}
        </mat-option>
      </mat-autocomplete>

      <ng-container matSuffix *ngIf="placeControl.value">
        <mat-icon
          igoStopPropagation
          (click)="clearPlace()">
          clear
        </mat-icon>
        <mat-icon
          igoStopPropagation
          (click)="setOverlayFeature(overlayFeature)">
          search
        </mat-icon>
      </ng-container>
    </mat-form-field>
  </div>
  
</form>