@import './cls.styl';
@require './media.styl';
@require './var.styl';


/*** Reset ***/

html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

/*
[matbutton]:hover.igo-primary .mat-button-focus-overlay,
[mat-icon-button]:hover.igo-primary .mat-button-focus-overlay {
  background-color: $igo-primary-color-hover;
}

[matbutton]:hover.igo-secondary .mat-button-focus-overlay,
[mat-icon-button]:hover.igo-secondary .mat-button-focus-overlay {
  background-color: $igo-secondary-color-hover;
}

button[mat-icon-button] {
  width: $igo-icon-button-width;
  min-width: $igo-icon-button-width;
  margin: 0;
  padding: 0;
}

button[mat-icon-button].igo-icon-button {
  background-color: transparent;
}

button[mat-icon-button].igo-primary {
  color: $igo-primary-color;
  background-color: $igo-button-background-color;
}

button[mat-icon-button].igo-secondary {
  color: $igo-secondary-color;
  background-color: $igo-button-background-color;
}

button {
  background-color: $igo-button-background-color;
}

table td {
  padding: $igo-padding;
}

table.igo-striped tbody tr:nth-child(odd) {
  background-color: $igo-secondary-color;
}

.row {
  width: 100%;
}

fieldset {
  border: none;
}

.igo-input-container {
  padding-bottom: 6px;
}

form {
  height: 100%;
  width: 100%;
  position: relative;
}

.igo-form-inline-error {
  color: $igo-warn-color;
  position: relative;
  top: -10px;
}

.igo-form-button-group {
  padding: 20px;
  width: 100%;
  text-align: center;
}

.igo-collapsed {
  display: none !important;
}

[igocollapse].chevron:after {
  content: 'expand_less'
}

[igocollapse].chevron.collapsed:after {
  content: 'expand_more'
}

[igocollapse]:hover {
  cursor: pointer;
}

.igo-col {
  float: left;

  +media(mobile) {
    text-align: center;
  }
}

.igo-col-40 {
  width: 40%;
}

.igo-col-50 {
  width: 50%;
}

.igo-col-60 {
  width: 60%;
}

.igo-col-100 {
  width: 100%;
}

.igo-col-100-m {
  +media(mobile) {
    width: 100%;
  }
}

*/
/* IE10+ */
::-ms-clear {
  display: none;
}
