$primary-color = rgb(25, 118, 210);
$accent-color = rgb(224, 224, 224);

[igolistitem][color="primary"].igo-list-item-selected {
  background-color: $primary-color;
}

[igolistitem][color="accent"].igo-list-item-selected {
  background-color: $accent-color
}

table.igo-striped tbody tr:nth-child(odd) {
  background-color: rgba(25, 118, 210, 0.12);
}

igo-panel .igo-panel-header {
  background-color: $primary-color;
  color: rgb(255, 255, 255);
}

igo-panel .igo-panel-header .mat-icon {
  color: rgb(255, 255, 255);
}

mat-progress-spinner path {
  stroke: $primary-color;
}

button.mat-icon-button.mat-primary:hover {
  color: #0080ff;
}

button.mat-icon-button.mat-warn:hover {
  color: #ff1100;
}

igo-mini-basemap > .igo-mini-basemap-container:hover {
  border-color: alpha($primary-color, 0.7);
  .igo-mini-basemap-title {
    color: $primary-color;
  }
}

.ol-attribution button {
  color: $primary-color;
}
