@use '~@igo2/core/style/index.theming.scss';
@import '~@igo2/core/style/all.theming';
@import './src/style/reset.scss';
@import '../app/app.theming.scss';
@import '../app/pages/portal/portal.theming.scss';
@import '../app/pages/portal/sidenav/sidenav.theming.scss';
@import '../app/pages/portal/welcome-window/welcome-window.theming.scss';
@import '../app/app.theming';
