:host {
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  pointer-events: none;
}

.mapOverlayDefault {
  position: absolute;
  white-space: nowrap;
  pointer-events: auto;
}

.bottom-right {
  bottom: 0;
  right: 0;
}

.top-right {
  top: 0;
  right: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.top-left {
  top: 0;
  left: 0;
}

.bottom-center {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.top-center {
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.center-right {
  top: 50%;
  right: 0;
}

.center-left {
  top: 50%;
  left: 0;
}
