

.spacer {
  flex: 1 1 auto;
}

.button-container{
  display:flex;
  justify-content: space-around;
}

// welcome-window > mat-dialog-container{
//     z-index:190;
//   position: fixed;
//   top: 20%;
//   left: 50%;
//   bottom: 30%;
//   transform: translate(-50%, 0);
//   background-color: red;
// }

// div.welcome-window {
//   z-index:190;
//   position: fixed;
//   top: 20%;
//   left: 50%;
//   bottom: 30%;
//   transform: translate(-50%, 0);
//   background-color: red;


  // margin-left: -200px;
  // width: 400px;
  // z-index: 5;
  // height: 150px;
  // margin-bottom: 300px;
// }
