

@mixin igo-welcome-window-theming($theme) {
  $primary: map-get($theme, primary);

  .mat-dialog-container{
    z-index:1000;
    box-shadow: 0 0 0 1000em rgba(0, 0, 0, 0.6);
    transform: translate(-50%, 0);

  }

}
