:host {
  display: block;
  padding: 16px;

  .spacer {
    flex: 1 1 auto;
  }

  .button-container {
    display: flex;
    justify-content: space-around;
  }

  #doNotShowCheck {
    margin-right: 5px;
  }

  mat-toolbar h2 {
    margin: revert;
  }

  label {
    margin-bottom: 0;
  }

  .mat-mdc-dialog-container {
    z-index: 1000;
    box-shadow: 0 0 0 1000em rgba(0, 0, 0, 0.6);
    transform: translate(-50%, 0);
  }

  ::ng-deep .custom-html {
    padding: 0 !important;
  }
}
