@require '../../../css/theme.styl';

$igo-list-item-height = 46px;

// This is to make the list scrollable
:host {
  display: block;
  height: 100%;
  overflow: auto;
  position: relative;
}

md-list {
  padding-top: 0;
}

// We need to make sure the firs ancestor with a
// position other than static is the host itself
// to properly scroll to the focused list item 
:host >>> .igo-container {
  position: static;
}

:host >>> .mat-list .mat-list-item.mat-list-item-avatar .mat-list-item-content {
  height: $igo-list-item-height;
  padding: 3px;
}

:host >>> .mat-list .mat-list-item.mat-list-item-avatar .mat-list-item-content>md-icon {
  padding: 8px;
}

:host >>> [igolistitem] md-list-item [md-list-avatar] {
  height: auto;
  width: auto;
}

:host >>> [igolistitem]:hover md-list-item, {
  background-color: $igo-secondary-color-hover;
  cursor: pointer;
}

:host >>> [igolistitem].igo-selected md-list-item {
  background-color: $igo-secondary-color;
}

:host >>> [igolistitem]:focus {
  outline: none;
}
