@require '../../../css/theme.styl';

md-list {
  padding-top: 0;
}

:host >>> .mat-list .mat-list-item.mat-list-item-avatar .mat-list-item-content,
:host >>> .mat-nav-list .mat-list-item.mat-list-item-avatar .mat-list-item-content {
  height: 46px;
}

:host >>> [igolistitem] md-list-item [md-list-avatar] {
  height: auto;
  width: auto;
}

:host >>> [igolistitem]:hover md-list-item, {
  background-color: $igo-secondary-color-hover;
  cursor: pointer;
}

:host >>> [igolistitem].igo-selected md-list-item {
  background-color: $igo-secondary-color;
}

:host >>> [igolistitem]:focus {
  outline: none;
}
