$igo-icon-button-width = 40px;

$igo-white = #fff;

$igo-margin = 5px;

button[md-icon-button] {
  border-radius: 0;
  width: $igo-icon-button-width;
  min-width: $igo-icon-button-width;
  margin: 0;
  padding: 0;
  background-color: $igo-white;
}
