$igo-icon-button-width = 40px;

$igo-white = #fff;

$igo-margin = 5px;

$igo-padding = 5px;

$igo-primary-color = rgb(103, 58, 183);
$igo-primary-color-hover = rgba(103, 58, 183, 0.1);

$igo-border-width = 1px ;
$igo-border-style = solid;
$igo-border-color = rgba(0, 0, 0, .2);

border-box()
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

border()
  border-width $igo-border-width
  border-style $igo-border-style
  border-color $igo-border-color

  -webkit-box-shadow: inset 0px 0px 0px 10px #f00;
  -moz-box-shadow: inset 0px 0px 0px 10px #f00;
  box-shadow: inset 0px 0px 0px 10px #f00;

border-top()
  border-top-width $igo-border-width
  border-top-style $igo-border-style
  border-top-color $igo-border-color

border-bottom()
  border-bottom-width $igo-border-width
  border-bottom-style $igo-border-style
  border-bottom-color $igo-border-color

border-left()
  border-left-width $igo-border-width
  border-left-style $igo-border-style
  border-left-color $igo-border-color

border-right()
  border-right-width $igo-border-width
  border-right-style $igo-border-style
  border-right-color $igo-border-color

button[md-icon-button] {
  border-radius: 0;
  width: $igo-icon-button-width;
  min-width: $igo-icon-button-width;
  margin: 0;
  padding: 0;
  background-color: $igo-white;
}

button {
  background-color: $igo-white;
}

.igo-container {
  /*height: "calc(100% - 2 * %s)" % $igo-padding;*/
  width: "calc(100% - 2 * %s)" % $igo-padding;
  height: 100%;
  padding: $igo-padding 0;
  margin: 0 $igo-padding;
  overflow: hidden;
  position: relative;
}

.igo-content {
  height: 100%;
  width: 100%;
  overflow: auto;
}
