/* Reset */

html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

@require './theme.styl';
@require './media.styl';

[mdbutton]:hover.igo-primary .mat-button-focus-overlay,
[md-icon-button]:hover.igo-primary .mat-button-focus-overlay {
  background-color: $igo-primary-color-hover;
}

[mdbutton]:hover.igo-secondary .mat-button-focus-overlay,
[md-icon-button]:hover.igo-secondary .mat-button-focus-overlay {
  background-color: $igo-secondary-color-hover;
}

button[md-icon-button] {
  width: $igo-icon-button-width;
  min-width: $igo-icon-button-width;
  margin: 0;
  padding: 0;
}

button[md-icon-button].igo-icon-button {
  background-color: transparent;
}

button[md-icon-button].igo-primary {
  color: $igo-primary-color;
  background-color: $igo-background-color;
}

button[md-icon-button].igo-secondary {
  color: $igo-secondary-color;
  background-color: $igo-background-color;
}

button[md-icon-button].igo-icon-button {
  background-color: transparent;
}

button[md-icon-button].igo-primary {
  color: $igo-primary-color;
  background-color: $igo-background-color;
}

button[md-icon-button].igo-secondary {
  color: $igo-secondary-color;
  background-color: $igo-background-color;
}

button {
  background-color: $igo-background-color;
}

table td {
  padding: $igo-padding;
}

table.igo-striped tbody tr:nth-child(odd) {
  background-color: $igo-secondary-color;
}

.igo-container {
  width: "calc(100% - 2 * %s)" % $igo-padding;
  height: 100%;
  padding: $igo-padding 0;
  margin: 0 $igo-padding;
  overflow: hidden;
  position: relative;
}

.igo-content {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.row {
  width: 100%;
}

fieldset {
  border: none;
}

.igo-input-container {
  padding-bottom: 6px;
}

form {
  height: 100%;
  width: 100%;
  position: relative;
}

.igo-form-inline-error {
  color: $igo-warn-color;
  position: relative;
  top: -10px;
}

.igo-form-button-group {
  position: absolute;
  bottom: 0px;
  padding: 20px;
  width: 100%;
  text-align: center;
}

[igocollapse]:hover {
  cursor: pointer;
}

.igo-col {
  float: left;

  +media(mobile) {
    text-align: center;
  }
}

.igo-col-40 {
  width: 40%;
}

.igo-col-50 {
  width: 50%;
}

.igo-col-60 {
  width: 60%;
}

.igo-col-100-m {
  +media(mobile) {
    width: 100%;
  }
}

/* IE10+ */
::-ms-clear {
  display: none;
}

