/* Reset */

html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

@require './theme.styl';

input {
  height: $igo-icon-button-height;
}

[mdbutton]:hover.igo-primary .mat-button-focus-overlay,
[md-icon-button]:hover.igo-primary .mat-button-focus-overlay {
  background-color: $igo-primary-color-hover;
}

[mdbutton]:hover.igo-secondary .mat-button-focus-overlay,
[md-icon-button]:hover.igo-secondary .mat-button-focus-overlay {
  background-color: $igo-secondary-color-hover;
}

button[md-icon-button] {
  width: $igo-icon-button-width;
  min-width: $igo-icon-button-width;
  margin: 0;
  padding: 0;
}

button[md-icon-button].igo-icon-button {
  background-color: transparent;
}

button[md-icon-button].igo-primary {
  color: $igo-primary-color;
  background-color: $igo-background-color;
}

button[md-icon-button].igo-secondary {
  color: $igo-secondary-color;
  background-color: $igo-background-color;
}

button[md-icon-button].igo-icon-button {
  background-color: transparent;
}

button[md-icon-button].igo-primary {
  color: $igo-primary-color;
  background-color: $igo-background-color;
}

button[md-icon-button].igo-secondary {
  color: $igo-secondary-color;
  background-color: $igo-background-color;
}

button {
  background-color: $igo-background-color;
}

table td {
  padding: $igo-padding;
}

table.igo-striped tbody tr:nth-child(odd) {
  background-color: $igo-secondary-color-hover;
}

.igo-container {
  width: "calc(100% - 2 * %s)" % $igo-padding;
  height: 100%;
  padding: $igo-padding 0;
  margin: 0 $igo-padding;
  overflow: hidden;
  position: relative;
}

.igo-content {
  height: 100%;
  width: 100%;
  overflow: auto;
}

/* IE10+ */
::-ms-clear {
  display: none;
}
