$igo-icon-button-width = 40px;
$igo-icon-button-height = 40px;

$igo-primary-font-color = rgb(0, 0, 0);
$igo-secondary-font-color = rgb(255, 255, 255);

$igo-margin = 5px;

$igo-padding = 5px;

/* primary - purple */
/*
$igo-primary-color = rgb(103, 58, 183);
$igo-primary-color-hover = rgba(103, 58, 183, 0.1);
*/

/* primary - blue grey */
/*
$igo-primary-color = rgb(58,106,144);
$igo-primary-color-hover = rgba(58,106,144, 0.1);
*/
$igo-secondary-color = rgb(153, 153, 153);
$igo-secondary-color-hover = rgba(153, 153, 153, 0.1);

/* secondary - light green */
/*
$igo-secondary-color = rgb(176,216,146);
$igo-secondary-color-hover = rgba(176,216,146, 0.4);
*/

/* secondary - blue green */
/*
$igo-secondary-color = rgb(109, 184, 178);
$igo-secondary-color-hover = rgba(109, 184, 178, 0.2);
*/
$igo-primary-color = rgb(51, 102, 153);
$igo-primary-color-hover = rgba(51, 102, 153, 0.2);


/* tertiary - white */
$igo-tertiary-color = rgb(255, 255, 255);

$igo-border-width = 1px ;
$igo-border-style = solid;
$igo-border-color = rgba(0, 0, 0, .2);

border-box()
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

border()
  border-width $igo-border-width
  border-style $igo-border-style
  border-color $igo-border-color

  -webkit-box-shadow: inset 0px 0px 0px 10px #f00;
  -moz-box-shadow: inset 0px 0px 0px 10px #f00;
  box-shadow: inset 0px 0px 0px 10px #f00;

border-top()
  border-top-width $igo-border-width
  border-top-style $igo-border-style
  border-top-color $igo-border-color

border-bottom()
  border-bottom-width $igo-border-width
  border-bottom-style $igo-border-style
  border-bottom-color $igo-border-color

border-left()
  border-left-width $igo-border-width
  border-left-style $igo-border-style
  border-left-color $igo-border-color

border-right()
  border-right-width $igo-border-width
  border-right-style $igo-border-style
  border-right-color $igo-border-color
