$igo-primary-text-color = rgb(0, 0, 0);
$igo-secondary-text-color = rgb(255, 255, 255);

/* primary - ($md-blue, 700) */
$igo-primary-color = rgb(25, 118, 210);
$igo-primary-color-hover = rgba(25, 118, 210, 0.2);

/* secondary - ($md-grey, 300) */
$igo-secondary-color = rgb(224, 224, 224);
$igo-secondary-color-hover = rgba(224, 224, 224, 0.2);

/* warn - ($md-red, 700) */
$igo-warn-color = rgb(211, 47, 47);

/* background - white */
$igo-background-color = rgb(255, 255, 255);

$igo-icon-button-width = 40px;
$igo-icon-button-height = 40px;

$igo-margin = 5px;
$igo-padding = 5px;

$igo-border-width = 1px;
$igo-border-style = solid;
$igo-border-color = rgba(0, 0, 0, .2);

border-box()
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

bordered()
  border-width $igo-border-width
  border-style $igo-border-style
  border-color $igo-border-color

bordered-top()
  border-top-width $igo-border-width
  border-top-style $igo-border-style
  border-top-color $igo-border-color

bordered-bottom()
  border-bottom-width $igo-border-width
  border-bottom-style $igo-border-style
  border-bottom-color $igo-border-color

bordered-left()
  border-left-width $igo-border-width
  border-left-style $igo-border-style
  border-left-color $igo-border-color

bordered-right()
  border-right-width $igo-border-width
  border-right-style $igo-border-style
  border-right-color $igo-border-color
