<h1>{{title}}</h1>
<span>{{userName}}</span>
<div class="more"></div>


<!--h1>{{title}}</h1>
<span dropdown dropdownToggle id="param-dropdown" class="nav more-div dropdown">
  <more></more>
  <ul dropdownMenu class="dropdown-menu dropdown-param" aria-labelledby="param-dropdown">
    <!--  TODO: petite aide -->
    <!--li><a class="dropdown-item" href="#"><i class="fa fa-question fa-fw"></i>Aide</a></li-->
    <!--li><a class="dropdown-item" href="#">{{version}}</a></li>
  </ul>
</span>

<ul class="nav navbar-right">
  <li *ngIf="auth.isAuthenticated()" dropdown class="dropdown">
    <a dropdownToggle id="profile-dropdown" class="dropdown-toggle" aria-haspopup="true" aria-expanded="true">
      <span>{{userName}}</span>
      <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
    </a>
    <ul dropdownMenu class="dropdown-menu" aria-labelledby="profile-dropdown">
      <li><a class="dropdown-item"><i class="fa fa-newspaper-o fa-fw fa-pr"></i>Journal des opérations</a></li>
      <!--li class="divider"></li-->
      <!--li><a class="dropdown-item" [routerLink]="['/logout']"><i class="fa fa-sign-out fa-fw fa-pr"></i>Se déconnecter</a></li>
    </ul>
  </li>
</ul-->
