@import '~@igo2/core/style/partial/media';
@import '../../../../style/partial/variables';
@import '../sidenav/sidenav.variables';

$fadq-expansion-panel-collapsed-height: 48px;
$fadq-expansion-panel-max-height: calc(35% - #{$fadq-expansion-panel-collapsed-height});
