@import './expansion-panel.variables';

:host {
  display: block;
  height: $fadq-expansion-panel-header-height;
}

:host > div {
  display: flex;
}

.fadq-expansion-panel-trigger-container,
.fadq-expansion-panel-content {
  display: inline-flex;
}

button {
  margin: 4px 6px;
}