@import 'media';
@import 'variables';

$fadq-expansion-panel-collapsed-height: 47px;
$fadq-expansion-panel-collapsed-width: 52px;
$fadq-expansion-panel-height: 281px;
$fadq-expansion-panel-header-height: $fadq-expansion-panel-collapsed-height;
