@import '../portal.variables';

:host {
  border-bottom: 2px solid aliceblue;
  display: flex;
  align-items: center;

  button {
    width: 40px;
    height: 40px;
    padding: 8px;
  }
}

.app-expansion-panel-trigger-container {
  display: flex;
}

.app-expansion-panel-content {
  display: flex;
  height: 100%;
}
