@import '../portal.variables';

:host {
  display: block;
  background-color: white;

  height: $fadq-expansion-panel-collapsed-height;
  width: $fadq-sidenav-width + $igo-icon-size;

  transition:
    height 200ms cubic-bezier(.4, 0, .2, 1),
    width 200ms cubic-bezier(.4, 0, .2, 1);

  @include small-screen {
    width: $fadq-expansion-panel-collapsed-width;
  }

  @include tablet {
    width: $fadq-expansion-panel-collapsed-width;
  }

  @include mobile {
    width: $fadq-expansion-panel-collapsed-width;
  }
}

.fadq-expansion-panel-container {
  height: 100%;
  width: 100%;
}

:host.fadq-expansion-panel-expanded {
  @extend %box-shadowed;
  height: $fadq-expansion-panel-height;
  width: 100%;
}

:host > div {
  height: 100%;
  width: 100%;
}

.fadq-expansion-panel-content {
  height: calc(100% - #{$fadq-expansion-panel-header-height});
  overflow: auto;
  padding: $igo-padding;
}

igo-backdrop ::ng-deep > div {
  z-index: initial !important;
}
