.navigation-wrapper {
  background-color: var(--qc-color-blue-medium);
  height: 72px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  align-items: center;
  padding: 0 4%;
  position: relative;
}
.navigation-wrapper a {
  font-size: 18px;
  line-height: 28px;
  color: white;
  text-decoration: none;
}
.navigation-wrapper a.underline::before {
  content: '';
  width: 0;
  height: 4px;
  background-color: var(--qc-color-blue-pale);
  will-change: width;
  transition: width 0.1s ease-out;
  transform: translateX(0%);
  position: absolute;
  bottom: 1px;
}
.underlined {
  position: relative;
  will-change: color;
  transition: color 0.25s ease-out;
  height: 100%;
  display: none;
  align-items: center;
}
.underlined::before {
  content: '';
  width: 0;
  height: 4px;
  background-color: var(--qc-color-blue-pale);
  will-change: width;
  transition: width 0.1s ease-out;
  transform: translateX(0%);
  position: absolute;
  bottom: 1px;
}
.underlined:hover::before,
.active > .underlined::before {
  width: 100%;
  transition-duration: 0.3s;
}
.underlined {
  display: none;
  @media (min-width: 760px) {
    display: flex;
  }
}
.navigation-wrapper > .underlined:first-of-type,
.navigation-wrapper > .underlined:nth-of-type(2) {
  display: flex;
}
.more {
  display: flex;
  @media (min-width: 760px) {
    display: none;
  }
}
.more-wrapper {
  display: grid;
  width: 104%;
  height: 140px;
  background-color: white;
  position: absolute;
  top: 76px;
  left: -4%;
  z-index: 9;
  padding: 10px 8%;

  @media (min-width: 760px) {
    display: none;
  }
}
.more-wrapper .menu-link {
  color: darkblue;
  height: fit-content;
}
.navigation-wrapper .more-wrapper .menu-link a {
  color: darkblue;
}
.more-underlined {
  display: block;
}
.underlined .more-underlined:hover {
  filter: brightness(1.1);
}
