<mat-list-item
  tooltip-position="below"
  matTooltipShowDelay="500"
  [matTooltip]="tool.tooltip | translate"
  (click)="activate.emit(tool)">

  <mat-icon
    *ngIf="withIcon && !tool.iconImage"
    mat-list-avatar
    tooltip-position="below"
    matTooltipClass="toolbarItemTooltip"
    matTooltipShowDelay="500"
    [matTooltip]="tool.tooltip ? '' : (tool.title | translate)">
    {{tool.icon}}
  </mat-icon>

  <button
    *ngIf="withIcon && tool.iconImage"
    mat-list-avatar
    mat-icon-button
    matTooltipClass="toolbarItemTooltip"
    matTooltipShowDelay="500"
    [matTooltip]="tool.tooltip ? '' : (tool.title | translate)">
    <img [src]="tool.iconImage">
  </button>

  <h4 *ngIf="withTitle" matLine>{{tool.title | translate}}</h4>

</mat-list-item>
