.wrapper {
  height: 125px;
  width: 100%;
  background-color: #1976d2;
  position: absolute;
  left: 0;
  z-index: 9;
  padding: 0 4%;
  top: 58px;
  padding-top: 26px;
  @media (min-width: 760px) {
    padding-top: 0;
  }
}
.submit-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 24px;
  padding-top: 16px;
  color: white;
  text-decoration: underline;
}
.search-icon {
  width: 24px;
  height: 24px;
  filter: invert(99%) sepia(1%) saturate(7499%) hue-rotate(238deg)
    brightness(123%) contrast(100%);
}
.row-1 {
  display: flex;
  width: 100%;
}
.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #19406c;
  padding: 0;
  border-radius: 0;
  width: 40px;
  height: 40px;

  cursor: pointer;
}
.search-input {
  width: 96%;
  outline: none;
  padding: 7px 12px;
}
