<mat-expansion-panel
    (opened)="opened = true"
    (closed)="opened = false"
    [hideToggle]="true">

    <mat-expansion-panel-header color="secondary" [expandedHeight]="'48px'">

        <button
          mat-icon-button
          color="primary"
          class="fadq-expansion-button">
          <mat-icon>expand_less</mat-icon>
        </button>

        <button
          mat-icon-button
          tooltip-position="below"
          matTooltipShowDelay="500"
          [matTooltip]="'search.menu.tooltip' | translate"
          [matMenuTriggerFor]="bottomPanelMenu"
          (click)="$event.stopPropagation()">
          Todo
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu
          #bottomPanelMenu="matMenu"
          overlapTrigger="false"
          xPosition="before"
          yPosition="above"
          >
          <button mat-menu-item *ngFor="let tool of bottomTools">
            {{tool.title}}
          </button>
        </mat-menu>
        <!--mat-form-field (click)="$event.stopPropagation()">
          <mat-select>
            <mat-option *ngFor="let tool of bottomTools" [value]="tool.name">
              {{tool.title}}
            </mat-option>
          </mat-select>
        </mat-form-field-->


    </mat-expansion-panel-header>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-expansion-panel>
