:host.horizontal {
  igo-list {
    width: auto;
    white-space: nowrap;
  }

  fadq-widgetbar-item {
    display: inline-block;
  }

  fadq-widgetbar-item.igo-list-item-selected ::ng-deep mat-list-item {
    background-color: initial !important;
  }
};

button {
  margin: 4px;
}
