<igo-list 
  *ngIf="!collapsed"
  [navigation]="false">

  <fadq-widgetbar-item
    *ngIf="withToggleButton"
    igoListItem
    color="accent"
    [ngClass]="getWidgetClass(toggleWidget)"
    [withTitle]="false"
    [withIcon]="true"
    [widget]="toggleWidget"
    (activate)="toggleWidgetbar()">
  </fadq-widgetbar-item>

  <ng-template
    *ngIf="visible"
    ngFor let-widget [ngForOf]="store.entities">
    <fadq-widgetbar-item
      igoListItem
      color="accent"
      [ngClass]="getWidgetClass(widget)"
      [withTitle]="withTitle"
      [withIcon]="withIcon"
      [widget]="widget"
      (activate)="activateWidget(widget)">
    </fadq-widgetbar-item>
  </ng-template>
</igo-list>

<div *ngIf="collapsed">
  <button
    mat-icon-button
    [matMenuTriggerFor]="widgetbarMenu"
    (menuOpened)="open.emit()"
    (menuClosed)="close.emit()">
    <mat-icon>more_horiz</mat-icon>
  </button>

  <mat-menu
    #widgetbarMenu="matMenu"
    class="fadq-compact-menu fadq-no-min-width-menu"
    overlapTrigger="true"
    [xPosition]="xPosition"
    [yPosition]="yPosition"
    [class]="overlayClass">

    <igo-list [navigation]="false">
      <ng-template ngFor let-widget [ngForOf]="store.entities">
        <fadq-widgetbar-item
          igoListItem
          color="accent"
          [ngClass]="getWidgetClass(widget)"
          [withTitle]="withTitle"
          [withIcon]="withIcon"
          [widget]="widget"
          (activate)="activateWidget(widget)">
        </fadq-widgetbar-item>
      </ng-template>
    </igo-list>
  </mat-menu>
</div>
