@import 'style/reset.scss';
@import 'style/theme.scss';

.shepherd-element[data-popper-reference-hidden]:not(.shepherd-centered) {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.mat-tooltip-trigger {
  touch-action: auto !important;
}
.toast-title-red {
  color:red;
  font-size:32px;
  font-weight:bold;
}

.toast-message-gray {
  color:rgb(68, 69, 70);
}
.toast-message-green-div {
  color:rgb(35, 85, 20);
}

app-root {
  width: 50%;
  height: 100%;
  position: absolute;
  overflow-y: auto;
}