@import '~@igo2/core/style/all.theming';
@import './fadq.theme';

@include igo-all-theming($theme);


/*** Reset ***/

html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
}

/* IE10+ */
::-ms-clear {
  display: none;
}

.no-border-radius {
  border-radius: 0 !important;
}

/* Add some padding to IGO forms */
.igo-form {
  padding: 10px;
}

.fadq-compact-menu .mat-menu-content:not(:empty) {
  padding-top: 0;
  padding-bottom: 0;

  .mat-list {
    padding-top: 0
  }
}
