@use '@igo2/core/all-style';
@use '@igo2/core/layout';

@use 'style/reset.scss';
@use 'style/theme.scss';

html {
  font-size: 14px;
}

body {
  font-family: var(--igo-font-family-text);
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.toast-title-red {
  color: red;
  font-size: 22px;
  font-weight: bold;
}

.toast-message-gray {
  color: rgb(68, 69, 70);
}
.toast-message-green-div {
  color: rgb(35, 85, 20);
}

.toast-message-ul-pad-inline-start-9prc {
  padding-inline-start: 9%;
}

.toast-message-a-blue {
  color: blue !important;
  text-decoration: underline;
  text-decoration-color: blue;
}

.toast-message-a-blue:hover {
  text-decoration: underline !important;
}

.mat-elevation-z2 {
  box-shadow: var(--mat-sys-level2);
}

// SDG overrides
h1 {
  &:after {
    content: none !important;
  }
}
