@require '../../../css/theme.styl';

$igo-panel-header-height = 46px;

.igo-panel-header {
  background-color: $igo-primary-color;
  color: $igo-secondary-text-color;
  height: $igo-panel-header-height;
  text-align: center;
  padding: 3px;
}

:host >>> .igo-panel-header .mat-icon {
  color: $igo-background-color;
}

.igo-panel-header h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 40px;
}

.igo-panel-header >>> [panelleftbutton] {
  float: left;
}

.igo-panel-header >>> [panelrightbutton] {
  float: right;
}

.igo-panel-content {
  height: "calc(100% - %s)" % $igo-panel-header-height;
  overflow: auto;
}

.igo-panel-title {
  display: inline-block;
  max-width: calc(100% - 80px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 9px 0;
}
