<md-sidenav-container>

  <igo-backdrop
    [shown]="sidenavOpened"
    (click)="closeSidenav()">
  </igo-backdrop>

  <button
    md-icon-button
    id="igo-menu-button"
    class="igo-primary"
    [md-tooltip]="(sidenavOpened ? 'Close Menu' : 'Open Menu') | translate"
    tooltip-position="below"
    (click)="toggleSidenav()">
    <md-icon>
      <ng-container *ngIf="!sidenavOpened">menu</ng-container>
      <ng-container *ngIf="sidenavOpened">keyboard_arrow_left</ng-container>
    </md-icon>
  </button>

  <igo-search-bar (key)="openSidenav()"></igo-search-bar>

  <igo-sidenav [opened]="sidenavOpened">
    <igo-flexible #menu
      initial="50%"
      initialMobile="100%"
      collapsed="51px"
      collapsedMobile="0"
      expanded="calc(100% - 51px)"
      [state]="menuState">

      <div class="igo-content" [@toolbarSlideInOut]="toolbarState">
        <igo-toolbar *ngIf="!selectedTool"></igo-toolbar>
      </div>

      <div [@toolSlideInOut]="toolState">
        <igo-panel
          *ngIf="selectedTool"
          [title]="selectedTool.title | translate">

          <button
            md-icon-button
            panelLeftButton
            [md-tooltip]="'Go Back' | translate"
            tooltip-position="below"
            class="igo-icon-button"
            (click)="goBack()">
            <md-icon>arrow_back</md-icon>
          </button>

          <button
            md-icon-button
            panelRightButton
            [md-tooltip]="'Main menu' | translate"
            tooltip-position="below"
            class="igo-icon-button"
            (click)="goHome()">
            <md-icon>menu</md-icon>
          </button>

          <igo-toolbox
            *ngIf="menu.state === 'initial' || menu.state === 'expanded'">
          </igo-toolbox>
        </igo-panel>
      </div>

      <igo-panel
        igoFlexibleFill
        [title]="focusedResult.title"
        *ngIf="focusedResult && media !== 'mobile'">
        <button
          md-icon-button
          panelLeftButton
          class="igo-icon-button"
          (click)="toggleMenu()">
          <md-icon>
            <ng-container *ngIf="menu.state === 'initial' || menu.state === 'collapsed'">
              arrow_downward
            </ng-container>
            <ng-container *ngIf="menu.state === 'expanded'">
              arrow_upward
            </ng-container>
          </md-icon>
        </button>

        <button
          md-icon-button
          panelRightButton
          class="igo-icon-button"
          *ngIf="media !== 'mobile'">
          <md-icon>open_in_new</md-icon>
        </button>
        <igo-search-result-details
          [result]="focusedResult"
          *ngIf="menu.state === 'initial' || menu.state === 'collapsed'">
        </igo-search-result-details>
      </igo-panel>

    </igo-flexible>
  </igo-sidenav>

  <igo-map></igo-map>

  <div id="igo-toast-container"
    *ngIf="focusedResult && media === 'mobile'">
    <igo-flexible #toast
      initialMobile="51px"
      expandedMobile="150px"
      [state]="toastState">

      <igo-panel [title]="focusedResult.title">
        <button
          md-icon-button
          panelLeftButton
          class="igo-icon-button"
          (click)="toggleToast()">
          <md-icon>
            <ng-container *ngIf="toast.state === 'initial' || toast.state === 'collapsed'">
              arrow_upward
            </ng-container>
            <ng-container *ngIf="toast.state === 'expanded'">
              arrow_downward
            </ng-container>
          </md-icon>
        </button>

        <igo-search-result-details
          [result]="focusedResult">
        </igo-search-result-details>
      </igo-panel>

    </igo-flexible>
  </div>

</md-sidenav-container>
