@require '../../../css/theme.styl';
@require '../../../css/media.styl';

$igo-sidenav-width = 400px;
$igo-sidenav-margin-top = 50px;
$igo-mobile-min-space-left = $igo-icon-button-width;


/*--- Sidenav ---*/
md-sidenav-container {
  width: 100%;
  height: 100%;
}

// This is needed because whe using the
// sidenav "side" mode, the z-index is 1
// and the sidenav appears below our backdrop.
// The "side" mode is required to prevent
// the sidenav from focusing a random button on open.
:host >>> md-sidenav.mat-sidenav-side {
  z-index: 3 !important;
}

:host >>> igo-sidenav md-sidenav {
  width: $igo-sidenav-width;

  +media(mobile) {
    width: "calc(100% - %s - %s)" % ($igo-mobile-min-space-left $igo-margin);
  }
}

:host >>> igo-sidenav .igo-sidenav {
  background-color: $igo-background-color;
}

:host >>> igo-sidenav .igo-sidenav-content {
  margin-top: $igo-sidenav-margin-top;
  height: "calc(100% - %s)" % ($igo-sidenav-margin-top);
}

:host >>> igo-sidenav .igo-sidenav-content .igo-flexible-fill .igo-container {
  bordered-top();
  border-box();
}

/*--- Menu button ---*/
#igo-menu-button {
  position: absolute;
  left: $igo-sidenav-width;
  top: $igo-margin;
  z-index: 2;

  +media(mobile) {
    right: $igo-margin;
    left: inherit;
  }
}

#igo-menu-button:hover .mat-button-focus-overlay {
  background-color: $igo-primary-color-hover;
}

#igo-menu-button,
:host >>> #igo-menu-button .mat-button-ripple-round {
  border-radius: 0;
}

/*--- Search bar ---*/
:host >>> igo-search-bar .igo-search-bar {
  position: absolute;
  left: 0;
  top: $igo-margin;
  z-index: 4;
  width: "calc(%s - 2 * %s)" % ($igo-sidenav-width $igo-margin);
  margin: 0 $igo-margin;

  +media(mobile) {
    width: "calc(100% - %s - (3 * %s))" % ($igo-mobile-min-space-left $igo-margin);
  }
}

#igo-toast-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
  max-height: "calc(100% - %s)" % ($igo-sidenav-margin-top);
  background-color: $igo-background-color;
}
