@require '../../../css/theme.styl';
@require '../../../css/media.styl';

$igo-sidenav-width = 400px;
$igo-sidenav-margin-top = 50px;
$igo-mobile-min-space-left = $igo-icon-button-width;

/*--- Sidenav ---*/
md-sidenav-container {
  width: 100%;
  height: 100%;
}

:host >>> igo-sidenav md-sidenav {
  width: $igo-sidenav-width;

  +media(mobile) {
    width: "calc(100% - %s - %s)" % ($igo-mobile-min-space-left $igo-margin);
  }
}

:host >>> igo-sidenav .igo-sidenav-content {
  margin-top: $igo-sidenav-margin-top;
  height: "calc(100% - %s)" % ($igo-sidenav-margin-top);
}

:host >>> igo-sidenav .igo-sidenav {
  background-color: $igo-white;
}

/*--- Menu button ---*/
#igo-menu-button {
  position: absolute;
  left: $igo-sidenav-width;
  top: $igo-margin;
  z-index: 2;
  color: $igo-primary-color;

  +media(mobile) {
    right: $igo-margin;
    left: inherit;
  }
}

#igo-menu-button:hover .md-button-focus-overlay {
  background-color: $igo-primary-color-hover;
}

/*--- Search bar ---*/
:host >>> igo-search-bar .igo-search-bar {
  position: absolute;
  left: 0;
  top: $igo-margin;
  z-index: 4;
  width: "calc(%s - 2 * %s)" % ($igo-sidenav-width $igo-margin);
  margin: 0 $igo-margin;

  +media(mobile) {
    width: "calc(100% - %s - (3 * %s))" % ($igo-mobile-min-space-left $igo-margin);
  }
}

#igo-lower-panel {
  border-top();
  border-box();
}