<md-sidenav-container>

  <igo-backdrop
    [shown]="sidenav.opened"
    (click)="sidenav.close()">  
  </igo-backdrop>

  <button
    md-icon-button
    id="igo-menu-button"
    class="igo-primary"
    (click)="sidenav.toggle()">
    <md-icon>
      <ng-container *ngIf="!sidenav.opened">
        menu
      </ng-container>
      <ng-container *ngIf="sidenav.opened">
        keyboard_arrow_left
      </ng-container>
    </md-icon>
  </button>

  <igo-search-bar
    (key)="sidenav.open()">  
  </igo-search-bar>

  <igo-sidenav #sidenav [opened]="false">
    <igo-flex
      #menu
      direction="column"
      initial="50%"
      collapsed="51px"
      expanded="calc(100% - 51px)"
      [state]="menuState">

      <div
        id="igo-upper-panel"
        class="igo-container">

        <div class="igo-content">
          <igo-toolbar *ngIf="!selectedTool">  
          </igo-toolbar>

          <igo-panel
            [title]="selectedTool.title"
            *ngIf="selectedTool">

            <md-icon
              panelLeftIcon
              (click)="goBack()">
              arrow_back
            </md-icon> 

            <md-icon
              panelRightIcon
              (click)="goHome()">
              menu
            </md-icon>

            <igo-toolbox
              *ngIf="menu.state === 'initial' ||
                     menu.state === 'expanded'">
            </igo-toolbox>
          </igo-panel>
        </div>

      </div>

      <div
        igoFlexFill
        id="igo-lower-panel"
        class="igo-container">

        <div class="igo-content">

          <igo-panel
            [title]="focusedResult.title"
            *ngIf="focusedResult">

            <md-icon
              panelLeftIcon
              (click)="resizeMenu()">
              <ng-container *ngIf="menu.state === 'initial'">
                arrow_upward
              </ng-container>
              <ng-container *ngIf="menu.state === 'collapsed'">
                arrow_downward
              </ng-container>
              <ng-container *ngIf="menu.state === 'expanded'">
                arrow_upward
              </ng-container>
            </md-icon>

            <md-icon
              panelRightIcon
              *ngIf="media !== 'mobile'">
              open_in_new
            </md-icon>

            <igo-search-result-details
              [result]="focusedResult">
            </igo-search-result-details>
          </igo-panel>
        </div>

      </div>

    </igo-flex>
  </igo-sidenav>

  <igo-map></igo-map>

</md-sidenav-container>
