@require '../../../css/base.styl';

.igo-search-bar {
  background-color: $igo-white;
}

:host >>> .md-input-wrapper {
  margin: 0;
}

:host >>> label.md-input-placeholder.md-float:not(.md-empty),
:host >>> label.md-input-placeholder.md-float.md-focused {
  display: none;
}
