@require '../../../css/theme.styl';

.igo-search-bar {
  background-color: $igo-tertiary-color;
}

:host >>> .md-input-wrapper {
  margin: 0;
}

:host >>> label.md-input-placeholder.md-float:not(.md-empty),
:host >>> label.md-input-placeholder.md-float.md-focused {
  display: none;
}

input {
  padding-right: $igo-icon-button-width !important;
}

button {
  position: absolute;
  right: 0;
  top: 0;
}