@require '../../../css/theme.styl';

.igo-search-bar {
  background-color: $igo-background-color;
}

:host >>> .mat-input-wrapper {
  margin: 0;
}

:host >>> label.mat-input-placeholder.mat-float:not(.mat-empty),
:host >>> label.mat-input-placeholder.mat-float.mat-focused {
  display: none;
}

:host >>> .mat-input-element {
  padding-right: $igo-icon-button-width;
}

button {
  position: absolute;
  right: 0;
  top: 0;
}
