@require '../../../css/base.styl';

$igo-sidenav-margin-top = 50px;

.igo-sidenav {
  background-color: $igo-white;
}

.igo-sidenav-content {
  margin-top: $igo-sidenav-margin-top;
  height: "calc(100% - %s)" % ($igo-sidenav-margin-top);
}
