name: GH_RELEASE

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: npm install conventional-changelog-cli@4.1.0
        run: npm install conventional-changelog-cli@4.1.0
      - name: Generate Changelog-current
        run: npm run changelog-current |  grep -v "^>" | sed '/^$/d' > ${{ github.workspace }}-CHANGELOG.txt
      - name: Post intstall
        run: npm run postinstall
      - name: Build production
        run: npm run build.prod
      - name: Install zip
        uses: montudor/action-zip@v1
      - name: Zip output
        run: zip -qq -r igo2.zip *
        working-directory: dist/igo2
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          body_path: ${{ github.workspace }}-CHANGELOG.txt
          files: dist/igo2/igo2.zip
          token: ${{ secrets.GITHUB_TOKEN }}
